.single_post{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    background-color: #2e4565;
}

.banner{
    position: relative;
    width: 82%;
    margin-top: 20.3vw;
    margin-left: 9%;
    margin-right: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post_title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.post_title p{
    width: 72.5%;
    height: 4.2%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 3.3858333vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: 9.75px;
    text-align: left;
    color: #efeee4;
}

#circle{
    width: 2.65625vw;
    height: 2.65625vw;
    border-radius: 2.65625vw;
    box-shadow: 2px 2px 6px 0 rgba(255, 111, 0, 0.6);
    background-color: #efeee4;
    transform: translateY(1.328125vw);
}

.banner_article_meta{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    border-bottom: solid 0.5px #efeee4;
    padding-bottom: 1.3%;
    margin-top: 9.9479166vw;
    align-items: center;
}

.banner_post_time{
    margin-left: 0.92vw;    
    color: #efeee4;
    font-family: 'TimesNewRoman';
    font-size: 1.82333333vw;
    font-weight: bold;
    letter-spacing: 5.25px;
    text-align: left;
}

.banner_post_tags{
    position: absolute;
    right: 0;
    margin: 0;
    transition: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner_post_tags > .post_category, .banner_post_tags > .sdg-tag li{
    background-color: #efeee4;
    color: #2e4565;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 0.9375vw;
    line-height: 1.57;
    letter-spacing: 1.5px;
    font-weight: bold;
    padding: 0.15vw 0.833vw;;
    border-radius: 0.885vw;
}

.sdg-tag{
    display: flex;
    flex-direction: row;
}
.sdg-tag > li{
    margin-left: 0.5vw;
}

/***  article content ***/
.single_post_info{
    width: 82%;
    margin-top: 5%;
    margin-left: 9%;
    margin-right: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article {
    width: 60.41vw;
    height: auto;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583333vw; 
    font-weight: 400; 
    line-height: 1.82;
    letter-spacing: 3.3px;
    color: #efeee4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.article p > img{
    width: 100%;
}

.article h3{
    font-size: 1.40625vw;
    font-weight: bold;
    letter-spacing: 4.05px;
    text-align: left;
    color: #efeee4;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.article p{
    margin-bottom: 2vw;
}

.article a {
    font-weight: 500;
    letter-spacing: 1.1px;
    color: #fb0;
    text-decoration: underline;
    overflow-wrap: anywhere
}

.article strong{
    font-weight: 700;
}

.article ol{
    list-style: decimal;
    line-height: 1;
    margin-bottom: 2vw;
    margin-left: 2.5em;
    padding-left: 0px;
}

.article ul{
    list-style: disc;
    line-height: 1;
    margin-bottom: 2vw;
    margin-left: 2.5em;
    padding-left: 0px;
}

.article li{
    line-height: 1;
    overflow-wrap: break-word;
}

/*** sideber ***/
.sidebar{
    width: 18%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: -3vw;
}

.sidebar_block{
    border-bottom: solid 1.5px rgba(239, 238, 228,0.2);
    margin-top: 3vw;
    padding-bottom: 2vw;
}

.sidebar_title{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sidebar_content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar_title_en{
    font-family: 'TimesNewRoman';
    font-size: 2.0833333vw;
    font-weight: bold;
    line-height: 1.823333vw;
    letter-spacing: 0.1vw;
    text-align: left;
    color: #fb0;
    margin-right: 10px;
}

.sidebar_title_ch{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.4066666vw;
    letter-spacing: 0.21vw;
    color: #efeee4;
    margin-top: 9px;
}

._content{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583333vw;  
    line-height: 2.0833333vw;
    letter-spacing: 0.17vw;
    text-align: left;
    color: #efeee4;
    margin-top: 0.41666666666667vw;
}

.sidebar_content > ul{
    flex-direction: column;
}

.sidebar_content > ul li{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583333vw;  
    line-height: 2.0833333vw;
    letter-spacing: 0.17vw;
    text-align: left;
    color: #efeee4;
    background-color: #2e4565;
    margin-top: 0.41666666666667vw;
}

/*** next 3 post block ***/
.next_news {
    width: 82%;
    margin-top: 10%;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 8vw;
    display: flex;
    flex-direction: column;
}

.next_news_title{
    display: flex;
    flex-direction: column;
}

.next_news_title span{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 6px;
    text-align: left;
    color: #efeee4;
}
#next_news_title_eg{
    margin-top: 10px;
    font-size: 1.3rem;
    letter-spacing: 4px;

}

.the_next3_block
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon-clock {
    width: 1.19791666vw;
    height: 1.19791666vw;
}


@media (max-width:960px) {
    #circle {
        width: 25.5px;
        height: 25.5px;
        border-radius: 25.5px;
        transform: translateY(12.25px);
    }

    .post_title p {
        font-size: 32.504px;
    }

    .icon-clock {
        width: 11.5px ;
        height: 11.5px ;
    }

    .banner_post_time{
        font-size: 17.504px;
    }

    .article p, h3{
        font-size: 11px;
    }

    .sidebar_title_en{
        font-size: 20px;
        line-height: 17.504px;
    }
    
    .sidebar_title_ch{
        font-size: 13.504px;
    }

    ._content{
        font-size: 11px;  
        line-height: 20px;
    }

    .sidebar_content > ul li {
        font-size: 11px;  
        line-height: 20px;
    }

    .article p > a{
        font-size: 11px;  
    }

    .article p, .article ol, .article ul{
        margin-bottom: 4vw;
    }

    .article ol, .article ul{
        margin-left: 4.5em;
    }
}

@media (max-width:768px) {
    .article {
        width: 100%;
    }

    .sidebar {
        width: 55%;
        margin-top: 3vw;
    }

    .single_post_info{
        flex-direction: column;
    }

    .the_next3_block{
        flex-direction: column;
        align-items: center;
    }
}