.article_member_container{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    background: #e4dfd2;
}

.article_content{
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 17.23vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    width: 23.38vw;
    display: flex;
    flex-direction: column;
}

/*.left div{
    margin-bottom: 0.7vw;
}*/

.right{
    width: 49.8vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.member_picture, .staff_picture{
    width: 23.38vw;
    height: 14.84vw;
    overflow: hidden;
    border-radius: 1.302vw;
}

.member_picture img, .staff_picture img{
    width: 23.38vw;
    height: 14.84vw;
}

.block-deco{
    width: 82vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px rgba(46, 69, 101, 0.7);
    margin: 3.32vw 0;
    padding-top: 1.041vw;
}

.short{
    width: 100%;
    border-top: none;
    border-bottom: solid 2px rgba(46, 69, 101, 0.7);
    margin: 0;
    padding-bottom: 1.041vw;
}

.deco-dot{
    width: 0.989vw;
    height: 0.989vw;
    border: solid 1.5px #2e4565;
    background-color: #2e4565;
    border-radius: 45%;
}

.deco-section{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.84375rem;
    font-weight: bold;
    line-height: 0.06;
    letter-spacing: 2.7px;
    text-align: center;
    color: #2e4565;
}

.deco-arrow{
    width: 0.5vw;
    height: 0.5vw;
    border: solid #2e4565;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.left .staff_name{
    margin-top: 1vw;
}

.staff_name > p, .staff_name > p > span{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.083vw;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 6px;
    text-align: left;
    color: #2e4565;
}

.staff_name > .staff_en_name{
    letter-spacing: 2px;
}

.staff_name > p > span{
    font-size: 1.302vw;
    letter-spacing: 3.75px;
    margin-left: 0.8vw;
}

#en_staff_name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1vw;
}

#en_staff_name > span{
    margin-left: 0;
    font-size: 1.5vw;
    letter-spacing: 0.15vw;
}

.contact{
    margin-top: 0.5vw;
}

.contact > p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact > p > span{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.82;
    letter-spacing: 1.7px;
    text-align: left;
    color: #2e4565;
}

.staff_CV{
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;
    position: relative;
    margin-top: 1vw;
    align-items: center;
}

.style-link{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9375vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: 2.7px;
    color: #4f5ab8;
    text-decoration: none;
}

.icon_download{
    margin-left: 0.5vw;
}

.right_block{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583vw;
    line-height: 1.82;
    letter-spacing: 0.12vw;
    text-align: left;
    color: #647386;
    margin-top: 2vw;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.en_right_block{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583vw;
    line-height: 1.82;
    letter-spacing: 0.12vw;
    text-align: left;
    color: #647386;
    margin-top: 2vw;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.right_block_title{
    font-size: 1.40625vw;
    font-weight: bold;
    letter-spacing: 0.17vw;
    line-height: 1;
    color: #2e4565;
}

.right_block_content{
    margin-top: 2vw;
}

.right_block_content > p{
    margin-bottom: 1.5vw;
}

.right > .block-deco{
    width: 100%;
}

.right_block_content > ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 1.8vw;
}

.works > ol > li, .en_right_block ol li{
    font-size: 1.14583vw;
    line-height: 1.5;
    letter-spacing: 0.12vw;
    margin-bottom: 1.5vw;
}

@media (max-width: 1024px) {

    .deco-section{
        font-size: 3.733vw;
    }
    
    .staff_name{
        margin-top: 9.6px;
    }
    
    .staff_name > p{
        font-size: 22px;
    }
    
    .staff_name > p > span{ 
        font-size: 18px;
        letter-spacing: 3.75px;
        margin-left: 7.68px;
    }
    
    #en_staff_name{
        margin-top: 9.6px;
    }
    
    #en_staff_name > span{
        font-size: 22px;
        letter-spacing: 1.44px;
    }
    
    .contact > p > span{
        font-size: 18px;
    }
    
    .staff_CV{
        margin-top: 9.6px;
        font-size: 16px;
    }
    
    .icon_download{
        margin-left: 4.8px;
    }
    
    .right_block{
        font-size: 18px;
    }
    
    .en_right_block{
        font-size: 18px;
        letter-spacing: 1.152px;
        margin-bottom: 19.2px;
    }
    
    .right_block_title{
        font-size: 20px;
        letter-spacing: 1.632px;
    }
    
    .right_block_content{
        margin-top: 19.2px;
    }
    
    .right_block_content > p{
        margin-bottom: 14.4px;
    }
    
    .right_block_content > ol {
        margin-left: 17.28px;
    }
    
    .works > ol > li, .en_right_block ol li{
        font-size: 18px;
        letter-spacing: 1.152px;
        margin-bottom: 14.4px;
        overflow-wrap: anywhere;
    }

    .member_picture{
        width: 30vw;
        height: 20vw;
    }

    .member_picture img{
        width: 30vw;
        height: 20vw;
    }

    .left{
        width: 30vw;
    }
    .right{
        width: 45vw;
    }

}

@media (max-width: 768px){
    .contact > p{
        flex-direction: column;
    }

    
}

@media (max-width: 480px){
    .article_content{
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        margin-top: 30vw;
        width: 89.33vw;
        margin-left: auto;
        margin-right: auto;
    }

    .left, .right{
        width: auto;
    }

    .member_picture, .staff_picture{
        width: auto;
        height: 52vw;
        border-radius: 12px;
    }
    
    .member_picture img, .staff_picture img{
        width: 89.33vw;
        height: 52vw;
        object-fit: cover;
    }

    .short{
        margin-top: 4.5vw;
        padding-bottom: 2.041vw;
    }

    .right_block, .en_right_block{
        margin-top: 6vw;
        margin-bottom: 0vw;
    }

    .block-deco{
        padding-top: 2.041vw;
    }

    .works{
        margin-top: 4vw;
    }

    .right_block_content > p{
        margin-bottom: 3vw;
        letter-spacing: 2px;
        font-size: 18px;
    }

    .works > ol > li, .en_right_block ol li{
        margin-bottom: 3.5vw;
    }

    .right_block_content{
        margin-top: 4vw;
        margin-left: 4vw;
    }
    
    .deco-dot {
        width: 4vw;
        height: 4vw;
        border-radius: 4vw;
    }

    .deco-arrow{
        width: 1.6vw;
        height: 1.6vw;
    }

    .right_block_content > li{
        letter-spacing: 2px;
    }

    .contact{
        margin-top: 3vw;
    }
}