.interview-picture{
    width: 10.41vw;
    height: 10.41vw;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 4.1666vw;
}


.interview-picture > img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 10.41vw;
    height: auto;
}

.interview-circle{
    position: absolute;
    right: 0%;
    bottom: 30%;
    width: 2.65625vw;
    height: 2.65625vw;
    border-radius: 1.328125vw;
    box-shadow: 2px 2px 6px 0 rgba(255, 111, 0, 0.6);
    background-color: #efeee4;
}

/*** next interview style ***/
.interview-slide{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    pointer-events: auto;
    margin-bottom: 30px;
}

.interview-text-content > span {
    position: relative;
    margin-top: 6.5%;
    font-size: 1.0416666667vw;
    line-height: 1.25;
    letter-spacing: 0.1rem;
    text-align: left;
    color: #647386;
}

.interview-text-content{
    width: 20.520833vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1.5vw;
}


.interview-text-content > a{
    position: relative;
    margin-top: 2.5%;
    font-size: 1.3025vw;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: .1953125vw;
    text-align: left;
    color: #efeee4;
    text-decoration: none;
    pointer-events: all;
}

.interview-text-content > span{
    position: relative;
    margin-top: 6.5%;
    font-size: 1.0416666667vw;
    line-height: 1.25;
    letter-spacing: 0.1rem;
    text-align: left;
    color: #b5bbbe;
}




.the_next3_block {
    flex-wrap: nowrap;
}

.article li {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583333vw;
    line-height: 2.0833333vw;
    letter-spacing: 3px;
    color: #efeee4;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width:960px) {
    .article li {
        font-size: 12px;
        line-height: 20px;
    }

    .interview-picture > img {
        width: 99.936px;
        height: 99.936px;
    }

    .interview-picture {
        min-width: 99.936px;
        height: auto;
    }

    .interview-picture{
        margin-bottom: 40px;
    }

    .interview-circle{
        width: 25.5px;
        height: 25.5px;
        border-radius: 12.75px;
    }
    
    .interview-text-content > a {
        font-size: 12.504px;
        letter-spacing: 1.875px;
    }

    .interview-text-content > span {
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .the_next3_block {
        flex-wrap: wrap;
    }

    .interview-text-content {
        width: unset;
    }
}

@media (max-width:480px) {
    .interview-picture {
        margin-bottom: 0;
    }
}