.course_schedule{
    width: 82vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 3.125vw;
    margin-bottom: 7.864vw;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.file_content{
    width: 82vw;
    display: flex;
    flex-direction: column;
    margin-top: 3.125vw;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3.125vw;
}

.file_link{
    width: 49.53125vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #647386;
    margin-bottom: 2.083vw;
}

.file_link > a{
    text-decoration: none;
    color: #4f5ab8;
    margin-bottom: 2.083vw;
    font-size: 1.041667vw;
    font-weight: 500;
    letter-spacing: 0.140625vw;
}


#btn-course{
    color: #efeee4;
    background-color: #2e4565;
}

img.icon_download{
    width: 3.3854vw;
    height: 1.71875vw;
}


@media (max-width: 768px){
    .file_title{
        line-height: 1.5;
    }
}


@media (max-width: 480px){
    .file_content{
        margin-top: 5vw;
    }

    .file_link{
        width: 52vw;
    }

    .file_title{
        line-height: 1.5;
    }

    a.file_name{
        line-height: 1.4;
    }

    img.icon_download{
        width: 7vw;
        height: 4.5vw;
    }
}