.page_Curriculum{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #e4dfd2;
}

.curriculum_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16.97vw;
}

.curriculum_banner > .circle{
    position: relative;
    left: 0;
    margin-top: 2.5%;
    right: 0;
    bottom: 0;
    width: 2.65625vw;
    height: 2.65625vw;
    border-radius: 1.4rem;
    box-shadow: 2px 2px 6px 0 rgba(255, 111, 0, 0.6);
    background-color: #2e4565;
}


.subpage_buttons{
    width: 82vw;
    margin-top: 5vw;
    margin-left: 9vw;
    margin-right: 9vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.subpage_btn{
    width: 8.75vw;
    height: 3.125vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5625vw;
    border: solid 1.5px #2e4565;
    color: #2e4565;
    text-decoration: none;
    letter-spacing: 0.15vw;
    font-weight: bold;
}

.animation1_btn {
    color: #2e4565;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    background: linear-gradient(to top, #2e4565 50%, #e4dfd2 50%);
    background-size: 100% 250%;
    background-position: left 0%;
    transition: all 0.6s ease;
}

.animation1_btn:hover {
    background-position: 0% 90%;
    color: #efeee4;
}


._font18{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9375vw;
    font-weight: 500;
    letter-spacing: 0.140625vw;
    text-align: left;
}

._font20{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.041667vw;
    font-weight: 500;
    letter-spacing: 0.140625vw;
    text-align: left;
}

._font22{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583vw;
}

._font30{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5625vw;
}

._font40{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 2.083vw;
    line-height: 0.88;
    letter-spacing: 6px;
    text-align: left;
    color: #2e4565;
}

@media (max-width: 960px) {
    ._font18{
        font-size: 10px;
        letter-spacing: 1.35px;
    }
    
    ._font20{
        font-size: 11px;
    }
    
    ._font22{
        font-size: 13px;
    }
    
    ._font30{
        font-size: 15px;
    }
    
    ._font40{
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .curriculum_banner{
        margin-top: 18vw;
    }

    .subpage_btn{
        width: 11vw;
        height: 4vw;
        border-radius: 3vw;
    }
}

@media (max-width: 480px){
    .curriculum_banner{
        margin-top: 26vw;
    }

    .subpage_btn{
        width: 27vw;
        height: 9vw;
        border-radius: 12vw;
    }

    .subpage_buttons {
        margin-top: 80px;
        width: 89.333vw;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
    }

    .curriculum_banner > .circle {
        width: 8vw;
        height: 8vw;
        margin-top: 20px;
    }

    ._font40 {
        font-size: 5.0688vw;
    }

    ._font20 {
        font-size: 3.733vw;
    }
}