.curriculum_arch{
    width: 82vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 3.125vw;
    margin-bottom: 7.864vw;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.arch_picture img{
    width: 67.135vw;
    height: 37.7083vw;
    overflow: hidden;
    margin-top: 4.166vw;
}

#btn-arch{
    color: #efeee4;
    background-color: #2e4565;
}

