.degree_regulation{
    width: 82vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 3.125vw;
    margin-bottom: 7.864vw;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.regulation_block{
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.125vw;
}

.degree_block_title{
    width: 82vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.more_btn{
    width: 2.084vw;
    height: 2.084vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.more_btn_hover{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#more_white{
    transition: 0.3s ease-in;
}

.more_btn:hover{
    width: 5.5vw;
}

.more_btn:hover #more_white{
    display: none;
}

.more_icon{
    width: 2.084vw;
    height: 2.084vw;
}

.more_btn_text{
    line-height: 0.06;
    letter-spacing: 0.140625vw;
    text-align: left;
    color: #2e4565;
    margin-left: 0.52083vw;
}

.item_titles{
    width: 82vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2e4565;
    border-bottom: solid 2px #647386;
    margin-top: 3.125vw;
    padding-bottom: 2.084vw;
}

.item_titles, .file_title{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.041667vw;
    font-weight: 500;
    letter-spacing: 0.140625vw;
    text-align: left;
}

.item_title1{
    margin-left: 15vw;
}

.item_title2{
    margin-left: 14.2vw;
}

.item_title2-en{
    margin-left: 4vw;
}

.regulation_rows{
    width: 82vw;
    display: inline-flex;
    flex-direction: row;
    border-bottom: solid 2px #647386;
    padding-top: 2.084vw;
    padding-bottom: 2.084vw;
    display: none;
}

.shown{
    display: inline-flex;
    transition: display 0.3s ease-in;
}

.year{
    font-weight: 500;
    line-height: 1.59;
    letter-spacing: 1.1px;
    text-align: left;
    color: #2e4565;
}

.item1, .item2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item1{
    margin-left: 11vw;
}

.item2{
    margin-left: 3.5vw;
}

.link_block{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
}

.file_title{
    color: #4f5ab8;
    font-weight: 500;
    line-height: 1.5;
    /*letter-spacing: 2.7px;*/
}

.en_text{
    letter-spacing: 1.1px;
}
/*read more btn*/
.bt-readmore{
    cursor: pointer;
    position: relative;
    top: 3.15vw;
    left: 73.3vw;
}

.bt-readmore > a:visited {
    color: #2e4565;
}

.bt-readmore:hover > a:visited {
    color: #efeee4;
}

.others_regu_rows{
    width: 63.64vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -1vw;
    margin-top: 3.2291vw;
}

.others_regu_rows > .link_block{
    margin-bottom: 0.8vw;
}

#btn-degree{
    color: #efeee4;
    background-color: #2e4565;
}


img.icon_download{
    width: 3.3854vw;
    height: 1.71875vw;
}

@media (max-width: 960px) {
    .item_titles span, .file_title{
        font-size: 11px;
        letter-spacing: 1.35px;
    }

    
}

@media (max-width: 768px) {
    .year{
        width: 12vw;
    }

    .item_title1{
        margin-left: 17.5vw;
    }

    .item_title2{
        margin-left: 9.5vw;
    }
   
}

@media (max-width: 480px){
    
    .item_title1{
        margin-left: 3.5vw;
    }

    .item_title2{
        margin-left: 4.5vw;
    }

    .link_block{

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1vw;
    }

    .others_regu_rows{
        width: 100%;
    }
    
    .others_regu_rows > .link_block{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .item1, .item2{
        margin-left: 0;
    }

    .item2{
        width: 100%;
        flex-direction: column;
    }

    img.icon_download{
        width: 10vw;
        height: 7vw;
    }

    .regulation_block{
        margin-top: 6.125vw;
    }
}