.dep_ph_page {
    padding: 18.8vw 8.96vw;
    background-color: #e4dfd2;
}

.dep_title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2.34375vw;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #2e4565;
}

.dep_title .dep_en_title {
    font-size: 1.5625vw;
}

.top_margined_s {
    margin-top: 3.0989583vw;
}

.top_margined {
    margin-top: 5.208333vw;
}

.dep_title_s {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.82;
    font-size: 1.4066666vw;
    font-weight: bold;
    letter-spacing: 0.2109375vw;
    color: #2e4565;
}

.dep_circle {
    width: 2.65625vw;
    height: 2.65625vw;
    border-radius: 1.328125vw;
    box-shadow: 2px 2px 6px 0 rgba(255, 111, 0, 0.6);
    background-color: #2e4565;
}

.dep_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vw;
}

.dep_hr {
    width: 82.083333vw;
    background-color: #2e4565;
    height: 1px;
}

.dep_passage {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.1458333vw;
    line-height: 1.82;
    letter-spacing: 0.171875vw;
    text-align: left;
    color: #2e4565;
}

.dep_passage .img_container {
    margin-top: 4.1666666vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 38.90625vw;
}

.dep_passage .img_container_s {
    margin-top: 4.1666666vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 17.083333333vw;
}

.dep_passage .img_container img {
    width: 100%;
    height: auto;
}

.dep_passage .img_container_s img {
    width: 100%;
    height: auto;
}

.img_instru {
    width: 100%;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.9375vw;
    line-height: 2.22;
    letter-spacing: 0.140625vw;
    color: #647386;
}

.dep_table {
    width: 100%;
    margin-top: 2vw;
    position: relative;
}

ul.table{
    display: block;
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.thead{display: table-header-group;}

.tr{display: table-row;}

.tbody{display: table-row-group;}

.thead li, .tr li{
    width: 82vw;
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #aaa;
}

.thead li{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.9375vw;
    font-weight: bold;
    line-height: 1.59;
    letter-spacing: 0.140625vw;
    color: #2e4565;
}

.tbody li, .tbody li a{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.1458333vw;
    font-weight: 500;
    line-height: 1.59;
    letter-spacing: 0.05729166vw;
    color: #2e4565;
}

.tbody li a{
    color: #4f5ab8;
    text-decoration: none;
}

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

.mhe_video_title {
    margin-top: 1.5625vw;
    width: 17.083333333vw;
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.3025vw;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0.1953125vw;
    color: #2e4565;
}

.bt-text {
    font-size: 1.041666666vw;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    line-height: 1.45;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.bt-watchmore {
    margin-top: 2.083333333vw;
    margin-left: auto;
    margin-right: auto;
}

.deco_waves {
    margin-top: calc(7.83854166vw - 2%);
}

.curri_table_row {
    margin-top: 2.0572916vw;
    display: flex;
    align-items: center;
}

.curri_table_row a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Noto Sans TC", sans-serif;
    font-size: .9375vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: .140625vw;
    text-align: left;
    color: #4f5ab8;
}

.mhe-card {
    display: none;
}

@media (max-width: 960px) {
    .dep_title .dep_en_title {
        font-size: 15px;
    }

    .dep_circle{
        width: 25.5px;
        height: 25.5px;
        border-radius: 12.75px;
    }

    .dep_info {
        margin-bottom: 8.25vw;
    }

    .top_margined_s {
        margin-top: 29.75px;
    }

    .dep_title {
        font-size: 22.5px;
    }

    .top_margined {
        margin-top: 50px;
    }

    .dep_passage {
        font-size: 16px;
        letter-spacing: 1.65px;
    }

    .dep_title_s {
        font-size: 13.504px;
        letter-spacing: 2.025px;
    }

    .dep_passage .img_container {
        margin-top: 40px;
        max-width: 373.5px;
    }

    .mhe_video_title {
        margin-top: 15px;
        width: 164px;
        font-size: 12.504px;
        letter-spacing: 1.875px;
    }

    .bt-text {
        font-size: 10px;
    }

    .curri_table_row a {
        font-size: 9px;
        letter-spacing: 1.35px;
    }
    
    .syllabus{
        display: none;
    }

    .tbody li, .tbody li a {
        font-size: 16px;
    }

    .thead li{
        font-size: 14px;
    }
}

@media (max-width: 480px){
    .dep_ph_page{
        padding-top: 157px;
    }

    .dep_title {
        font-size: 20px;
    }

    .dep_title .dep_en_title {
        font-size: 3.733vw;
    }
    
    .dep_circle {
        min-width: 8vw;
        width: 8vw;
        height: 8vw;
        border-radius: 8vw;
    }

    .dep_info {
        margin-bottom: 80px;
    }

    .top_margined_s, .top_margined {
        margin-top: 40px;
    }

    .dep_ph_page {
        padding-left: 5.33vw;
        padding-right: 5.33vw;
    }

    .dep_hr {
        width: 89.333vw;
    }

    .dep_passage {
        font-size: 3.733vw;
    }

    .dep_title_s {
        font-size: 4.535vw;
    }

    .dep_passage .img_container {
        max-width: 89.333vw;
    }

    .img_instru {
        font-size: 3.733vw;
    }

    .curri_table_row {
        margin-top: 20px;
    }

    .curri_table_row a {
        font-size: 3.733vw;
    }

    .mhe-card {
        margin-top: 40px;
        display: inline-block;
        width: 89.333vw;
        box-shadow: 15px 15px 40px 0 rgb(255 111 0 / 30%);
        border-radius: 25px;
    }

    .mhepic {
        display: none;
    }

    .mhe-card .card-title {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 4.535vw;
        font-weight: bold;
        line-height: 1.47;
        letter-spacing: 2.55px;
        text-align: left;
        color: #2e4565;
        margin: 40px 30px;
    }

    .mhe-card .card-img {
        width: 73.07vw;
        margin-left: auto;
        margin-right: auto;
    }

    .mhe-card .card-img img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .mhe-card .card-readmore {
        margin: 30px auto;
        width:fit-content;
    }
}
