
.event-cards-mask{
    width: 35.57vw;
    height: 26.09vw;
    border-radius: 60px;
    background-color: #efeee4;
    box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.1);
    margin: 0 2.5vw 4vw 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-cards-mask > .event-main-margin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.event-img-container {
    min-width: 13vw;
}
.event-img-container img {
    min-width: 140px;
    max-width: 100%;
}

.event-main-margin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    height: calc(100vw * 0.2615 * 0.9);
    padding: 8% 3.489583333vw;
}

.event-date-title {
    display: flex;
    place-items: center;
    justify-content: flex-start;
    /* margin-bottom: .520833333vw; */
}

.event-date-title .img-container {
    width: 1.197916666vw;
    height: 1.197916666vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-date-title .img-container img {
    max-width: 100%;
    height: auto;
}

.event-date-words {
    padding-left: .520833333vw;
    font-family: "TimesNewRoman";
    font-size: 1.198333333vw;
    font-weight: bold;
    line-height: 1.3;
    color: #2e4565;
}

.event-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 5%;
}

.event-main-slide-upper {
    display: flex;
    min-height: 10vw;
    min-width: 25vw;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.hp_event_tag{
    display: flex;
    flex-direction: row;
    width: 18.5vw;
}

.sdg-tag{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
}
.sdg-tag > li{
    margin-left: 0.5vw;
}

.hp_event_tag > .post_category, .event-info .sdg-tag li, .event-location{
    /*position: relative;
    left: 6.5vw;
    top: -3.7vw;*/
    color: #2e4565;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 0.9375vw;
    line-height: .0525vw;
    letter-spacing: .06vw;
    font-weight: bold;
    padding: 0.15vw 0.833vw;
    background-color: #ffbb00;
    border-radius: 0.885vw;
    min-height: 1.71875vw;
    height: 1.71875vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-location{
    margin-left: 0.5vw;
}
.event-info .sdg-tag {
    margin-left: -0.5vw;
}

.event-date {
    font-family: "TimesNewRoman";
    font-size: 1.823333333vw;
    font-weight: bold;
    line-height: 1.5625vw;
    text-align: left;
    color: #2e4565;
}

.event-name{
    margin-top: 0.5vw;
    z-index: 5;
}

.event-name a{
    color: #374a73;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 1.3025vw;
    line-height: 1.82vw;
    letter-spacing: .1553125vw;
    font-weight: bold;
    text-align: left;
}

.event-intro {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.041666666vw;
    line-height: 1.3025vw;
    letter-spacing: .104166666vw;
    text-align: left;
    color: rgba(46, 69, 101, 0.7);
    overflow-wrap: break-word;
    margin-top: 1vw;
}

.event-name {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.3025vw;
    font-weight: bold;
    line-height: 1.094vw;
    letter-spacing: .1953125vw;
    color: #2e4565;
}

.sm-event-pic {
    display: none;
}

@media (max-width:1130px) {
    .event-main-margin {
        padding: 12px 39.432px;
    }

    .event-cards-mask {
        min-width: 400px;
    }
}

@media (max-width:960px) {
    .event-cards-mask {
        height: 251px;
    }

    .event-main-margin {
        height: 226px;
    }

    .hp_event_tag {
        min-width: 172.8px;
    }

    .event-intro {
        font-size: 10px;
        line-height: 12.504px;
        letter-spacing: 1px;
    }

    .hp_event_tag > .post_category, .event-info .sdg-tag li, .event-location{
        font-size: 9px;
        line-height: 0.504px;
        letter-spacing: 0.75px;
        padding: 1.44px 8px;
        border-radius: 8.5px;
        min-height: 16.5px;
        height: 16.5px;
    }

    .event-date-title .img-container {
        width: 11.5px;
        height: 11.5px;
    }

    .event-name {
        font-size: 12.504px;
        line-height: 10.5024px;
        letter-spacing: 1.875px;
    }

    .event-date-words {
        padding-left: 5px;
        font-size: 11.504px;
    }

    .event-date {
        font-size: 17.504px;
        line-height: 15px;
    }

    .event-name a {
        font-size: 12.504px;
        line-height: 17.504px;
        letter-spacing: 1.875px;
    }
}

@media (max-width:480px) {
    .event-main-margin {
        height: 100%;
        padding: 10.666vw 8vw;
    }

    .event-img-container {
        display: none;
    }

    .event-main-margin {
        justify-content: flex-start;
    }

    .event-date-title .img-container {
        width: 16px;
        height: 16px;
    }

    .event-date-words {
        font-size: 4.002vw;
    }

    .event-date {
        margin-top: 5px;
        font-size: 4.535vw;
    }

    .event-info {
        padding-left: 0;        
    }

    .hp_event_tag {
        margin-top: 5.333vw;
    }

    .sdg-tag {
        margin-top: 6px;
    }

    .hp_event_tag > .post_category, .event-info .sdg-tag li, .event-location {
        padding: 3px 16px;
        border-radius: 10.5px;
        font-size: 2.67vw;
        line-height: unset;
        height: 16.5px;
        min-height: 0;
        letter-spacing: 1.5px;
        min-width:max-content;
        min-height: 5.6vw;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 5px;
    }

    .hp_event_tag {
        width: unset;
        margin-top: 5px;
        flex-wrap: wrap;
    }

    .event-name {
        margin-top: 5.3333vw;
        font-size: 4.5354vw;
        font-weight: bold;
        line-height: 6.6688vw;
        letter-spacing: 2.55px;
        text-align: left;
        color: #2e4565;
    }

    .event-intro {
        display: none;
    }

    .event-cards-mask {
        min-width: unset;
        width: 89.333vw;
        height: 68.27vw;
        margin: 0 0 40px 0;
        border-radius: 6.667vw;
    }

    .event-date-title img {
        width: 4.266vw;
        height: 4.266vw;
    }

    .event-cards-mask > .event-main-margin {
        justify-content: flex-start;
        padding: 10.667vw 8vw;
    }

    .sm-event-pic {
        display: none;
    }

    .event-name a {
        font-size: 4.535vw;
    }

    .sdg-tag > li {
        margin-left: 5px;
    }    

    .event-info .sdg-tag {
        margin-left: unset;
    }

    .event_tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }
}