.header_blank {
    min-height: 226px;
    height: 18.85vw;
    background: #2e4565;
}

.event_article_container {
    background: #2e4565;
    padding: 0 8.96vw 7.86458vw 8.96vw;
}

.article_title {
    min-width: 82.08vw;
}

.white_circle {
    width: 51px;
    height: 51px;
    border-radius: 27px;
    box-shadow: 2px 2px 6px 0 rgba(255, 111, 0, 0.6);
    background-color: #efeee4;
}

.title_first_part {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    min-width: 82.08vw;
}

.ch_title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 3.048rem;
    font-weight: bold;
    line-height: 1.23;
    letter-spacing: 9.75px;
    text-align: left;
    color: #efeee4;
    min-width: 62.29vw;
    max-width: 62.29vw;
}

.en_title {
    margin-top: 20px;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.641rem;
    font-weight: bold;
    line-height: 1.71;
    letter-spacing: 1.75px;
    text-align: left;
    color: #efeee4;
    min-width: 62.29vw;
    max-width: 62.29vw;
}

.article_info {
    margin-top: 9.94vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article_info img {
    width: 23px;
    height: 22px;
}

.date_part {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.date {
    margin-left: 10px;
    font-family: TimesNewRomanPS-MT;
    font-size: 1.641rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 5.25px;
    text-align: left;
    color: #efeee4;
}

.tags {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: right;
}

.tag {
    width: 5.83vw;
    height: 1.72vw;
    margin-left: 20px;
    border-radius: 17px;
    background-color: #efeee4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.84375rem;
    font-weight: bold;
    line-height: 0.06;
    letter-spacing: 2.7px;
    text-align: left;
    color: #2e4565;
}

.divider {
    height: 0.7px;
    width: 82.08vw;
    background-color: #efeee4;
    margin-top: 30px;
}

#events_main_article {
    min-width: 60.41vw;
    max-width: 60.41vw;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.03125rem;
    font-style: normal;
    line-height: 1.82;
    letter-spacing: 3.3px;
    text-align: left;
    color: #efeee4;
}

.events_main_part {
    margin-top: 7.81vw;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#events_aside {
    margin-left: 6.51vw;
    width: 15.15vw;
}

.aside_title {
    margin-top: 1.145vw;
}

.en_aside_title {
    font-family: TimesNewRomanPS-MT;
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 0.88;
    letter-spacing: 2px;
    text-align: left;
    color: #fb0;
}

.ch_aside_title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.266rem;
    letter-spacing: 4.05px;
    color: #efeee4;
    margin-left: 10px;
}

.aside_content {
    margin-top: 1.04vw;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.03125rem;
    line-height: 1.82;
    letter-spacing: 3.3px;
    text-align: left;
    color: #efeee4;
}

.aside_hr {
    width: 15.15625vw;
    height: 0.7px;
    background-color: #efeee4;
    margin-top: 1.9791vw;
    margin-bottom: 1.9791vw;
}

.next_event_container {
    margin-top: 11.979vw;
}

.next_title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 6px;
    text-align: left;
    color: #efeee4;
}

.en_next_title {
    font-size: 1.40625rem;
    letter-spacing: 1.5px;
}

.next_event_content {
    margin-top: 5.208vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 79.479vw;
    max-width: 79.479vw;
    padding-left: 1.302vw;
}

.next_event {
    background: #efeee4;
    max-width: 35.573vw;
    min-width: 35.573vw;
    min-height: 26.09vw;
    margin-right: 8.333vw;
    border-radius: 60px;
    box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/* wave part */

.deco_waves {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
}

.deco_waves img{
    background: #2e4565;
}

.block-title{
    width: 15.5%;
    height: 13.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -26.5vh;
} 

.block-title span{
    color: #efeee4;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    text-align: center;
}

#back_to_top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#back_to_top .en-title{
    font-size: 1rem;
    line-height: 0.05;
    letter-spacing: 1.5px;
    text-align: left;
}

#back_to_top .icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 17px;
}

/*wave part end*/

/*footer part*/
.Footer-container {
    position: relative;
    width: 100%;
    min-height: 105vh;
    background-color: #162a47;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: .6s;
    margin-top: 15vh;
    z-index: 1;
}
.footer-margin {
    padding: 7% 9%;
    padding-bottom: 0%;
    position: relative;
}
.footer-exclam {
    width: 64.6%;
    opacity: 0.7;
    font-family:  'Noto Sans TC', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.32;
    letter-spacing: 6.5px;
    color: #efeee4;
}
.footer-divider {
    width: 100%;
    height: 1px;
    background-color: #d9e0e2;
    z-index: 3;
    margin-top: 5.03%;
    opacity: 0.7;
}
.footer-pic img{
    transform: translate3d(200%, -65%, 0);
    background-color: #162a47;
    width: 25rem;
    height: 14.09rem;
}
.footer-info {
    position: absolute;
    top: 75%;
    opacity: 0.7;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.79725rem; 
    font-weight: 300;
    line-height: 1.66; 
    letter-spacing: 2.55px;
    color: #efeee4;
}

.footer-statement {
    position: absolute;
    opacity: 0.7;
    font-family: NotoSansTC;
    font-size: 0.79725rem;
    font-weight: 300;
    line-height: 1.76;
    letter-spacing: 2.55px;
    bottom: -27%;
    right: 9%;
    color: #efeee4;
    text-align: right;
}

.footer-iconscout-link {
    color: #6c63ff;
    cursor: pointer;
    text-decoration: none;
}

/*footer part end*/


/*event part*/
.event-main-margin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vw * 0.2615 * 0.9);
    padding: 3% 3.48958vw;
}
.event-date-title {
    display: flex;
    place-items: center;
    justify-content: flex-start;
}
.event-date-words {
    padding-left: 0.538rem;
    font-family: "TimesNewRoman";
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.3;
    color: #2e4565;
}
.event-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 8%;
    padding-left: 2.23958vw;
}
.event-main-slide-upper {
    display: flex;
    min-height: 40%;
}
.event-main-slide-upper img {
    max-width: 100%;
    height: auto;
}
.event-tags span {
    margin-right: 3px;
    margin-bottom: 4px;
    padding: 4px 10px;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.675rem;
    font-weight: bold;
    letter-spacing: 2.1px;
    text-align: left;
    color: #2e4565;
    background-color: #ffbb00;
    border-radius: 15px;
    display: inline-block;
}
.event-date {
    font-family: "TimesNewRoman";
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 0.86;
    text-align: left;
    color: #2e4565;
}
.event-name {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.28;
    letter-spacing: 2.5px;
    color: #2e4565;
}
.event-intro {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.71rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 1.53px;
    text-align: left;
    color: rgba(46, 69, 101, 0.7);
    text-indent: 2em;
}

.event-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*event part end*/