.page_events{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #e4dfd2;
}

/*the events block */
.post_block{
    width: 82vw;
    margin-top: 7.8125vw;;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-cards
{
    /*width: 82vw;
    margin: 0 9vw;
    min-height: auto;*/
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 2px #2e4565;
}

.select_bar_container{
    width: 82vw;
    display: block;
    position: relative;
    margin-top: 11.458vw;
}

.cat-list{
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cat-list > li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cat-list_item_dot{
    width: 1vw;
    height: 1vw;
    border: solid 2px #2e4565;
    border-radius: 50%;
}

.cat_active > .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item:hover .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.cat-list_item_name{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9375vw;
    font-weight: bold;
    line-height: 0.06;
    letter-spacing: 2.7px;
    color: #2e4565;
    margin-left: 1.3vw;
}

.event-space {
    width: 35.57vw;
    min-width: 400px;
    margin: 0 2.5vw 4vw 2.5vw;
}


@media (max-width: 1130px) {
    #event-slider-container-outer {
        transform: translateX(calc(-1000px + 32.6vw));
    }
    .event-slider-item {
        min-width: 400px;
    }
    #event-icon-prev {
        left: calc(45.65vw - 215px);
    }
    #event-icon-next {
        left: calc(54.35vw + 215px);
    }
}

@media (max-width: 960px) {
    .cat-list_item_name{
        font-size: 9px;
    }
}