#content_wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--main-bg-color);
}

#content{
    width: 82vw;
    height: auto;
    margin: 20vw 9vw 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: warp;
}

#page_title{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.34375vw;
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: 0.3125vw;
    text-align: left;
    color: var(--main-color-blue);
    margin-bottom: 3vw;
}

.article{
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.article, .article div {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.302083vw; 
    font-weight: 400; 
    line-height: 1.82;
    letter-spacing: 3.3px;
    color: var(--main-color-blue);
}

.article p > img{
    width: 100%;
}

.article h3{
    font-size: 1.40625vw;
    font-weight: bold;
    letter-spacing: 4.05px;
    text-align: left;
    color: #efeee4;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.article p{
    margin-bottom: 2.5vw;
}

.article a {
    font-weight: 500;
    letter-spacing: 1.1px;
    color: #fb0;
    text-decoration: underline;
    overflow-wrap: anywhere
}

.article strong{
    font-weight: 700;
}

.article ol{
    list-style: decimal;
    line-height: 1;
    margin-bottom: 2vw;
    margin-left: 2.5em;
    padding-left: 0px;
}

.article ul{
    list-style: disc;
    line-height: 1;
    margin-bottom: 2vw;
    margin-left: 2.5em;
    padding-left: 0px;
}

.article li{
    line-height: 1;
    overflow-wrap: break-word;
}

.article table tr td{
    border: solid 1.5px #efeee4;
}


@media (max-width:960px) {
    
    #content{
        margin: 40vw 9vw 15vw;;
    }

    #page_title{
        font-size: 22px;
    }

    .article, .article div {
        font-size: 16px;
    }
}