@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');




.homepage
{
    width: 100%;
    height: 110%;
    position: absolute;
    background-color: #374a73;
    z-index: -1;
}

.News-container
{
    width: 100%;
    height: 130%;
    background-color: #f2e7ce;
    position: relative;
    top: 88%;
    z-index: 1;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
/* icon and title */
.news-title{
    width: 15.5%;
    height: 13.5%;
    position: absolute;
    top: 5%;
    left: 43%;

} 
.news-title span{
    color: #374a73;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    text-align: center;
}

.icon
{
    position:absolute;
    width: 2.505rem;
    height: 2.505rem;
    left: 42.6%;
    top: 12.4%;
    
}

.ch-title{

    position: absolute;
    margin-left: 24%;
    margin-top: 35%;
    font-size: 1.875rem;
    line-height: 1.13;
    letter-spacing: 5px;
}
.en-title{
    position: absolute;
    margin-left: 37.2%;
    margin-top: 55%;
    font-size: 1.5rem;
    line-height: 1.13;
    letter-spacing: 1.8px;
}

/***********************/
/* Posts */
.news-article
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20%;
    /*border: solid 2px #374a73;*/
    display: inline-block;
}

.article-content {
    position: relative;
    display: inline-block;
    width: 22.8%;
    height: 25.6%;
    left: 2.6%;
    right: 1.9%;
    background: #f2e7ce;
    border-bottom: solid 2px #2e4565;
    /*border: solid 2px #2e4565;*/
    /*margin: 1.7%;*/
    /*margin: 5.625rem 0 0 6.313rem;
    padding: 0 0 1.188rem;*/
    margin: 6% 0 0 6.9%;
    padding: 0 0 1.188rem;
}
.article-content p {
    
    color: #374a73;
    font-family: 'Noto Sans TC', sans-serif;
}


.post_counter{
    width: 4.563rem;
    height: 4.063rem;
    margin: 0 7.125rem 4.063rem 0;
    font-family: 'TimesNewRoman';
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.03;
    letter-spacing: normal;
    text-align: left;
    color: #2e4565;
}

.thumbnail_icon
{   
    position:absolute;
    top: 30%;
    left: 42%;
    width: 15.1%;
    height: 12.6%;
    /*width: 1.2rem;
    height: 0.8rem;*/
    /*margin: 4.063rem 4.952rem 4.404rem 4.25rem;
    padding: 1.094rem 1.085rem 0.978rem;
    border-radius: 13px;
    background-color: #2e4565;*/
}

.border-anim{
    position: absolute;
    top:12%;
    right: 0;
    width: 15%;
    height: 12%;
    border-top-right-radius: 5px;
    border-top: solid 2px #2e4565;
    border-right: solid 2px #2e4565;
}






.article-meta{
    position: absolute;
    top: 50%;
    width: 7rem;
    height: 1.5rem;
}

.post_time{
    position: absolute;
    margin-left: 1rem;    
    color: rgba(46, 69, 101, 0.7);
    font-family: 'TimesNewRoman';
    font-size: 1rem;
    line-height: 1.67;
    text-align: left;
    font-weight: bold;
    letter-spacing: normal;
}

.post_category{
    position: absolute;
    left: 0;
    top: 2rem;
    
    padding: 0.251rem 0.813rem 0.374rem;
    border-radius: 15px;
    background-color: #374a73;
    text-align: center;
}
.post_category a{
    color: #ffbb00;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 0.5rem;
    line-height: 1.57;
    letter-spacing: 2.2px;
    font-weight: bold;
}


.article-title
{
    position: absolute;
    top: 75%;
    padding: 2%;
    padding-bottom: 2.5%;
}

.article-title a{
    
    color: #374a73;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.28;
    letter-spacing: 2.5px;
    font-weight: bold;
}

.excerpt{
    position: absolute;
    top: 65%;
    visibility: hidden;
    border-bottom: solid 2px #2e4565;

}

.clearfix {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}