.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e4565;
}

.slideshow-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5vw;
}

.images-container {
    position: relative;
    margin-top: 13vw;
    width: 82.083333vw;
    height: 32.29vw;
}

.imagesSlide {
    display: none;
}

.imagesSlide img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.78152vw;
}

#social_btn, #slide_btn, .image-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dot {
    cursor: pointer;
    width: 2.3vw;
    height: 0.3125vw;
    border-radius: 134px;
    margin: 0 1vw;
    background-color: #818181;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #ffbb00;
}

.active {
    width: 2.3vw;
    height: 0.5729vw;
    border-radius: 134px;
}

.click_btn_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 82.083vw;
    margin-top: 1vw;
}

#social_btn > a{
    margin-left: 1vw;
}

#btn_pre_img{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#btn_next_img{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* icon and title */
.block-title {
    position: relative;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-title span {
    color: #374a73;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    text-align: center;
}

.icon {
    width: auto;
    height: auto;
}

.ch-title {
    margin-top: 0.5vw;
    letter-spacing: 0.3125vw;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2.083333333vw;
    font-weight: bold;
    line-height: 2.344166666vw;
    letter-spacing: 0.3125vw;
}

.en-title {
    margin-top: 0.5vw;
    font-size: 1.5625vw;
    letter-spacing: 0.078125vw;
}

/***********************/
.rounded_border{
    width: 100vw;
    height: 2vw;
    background-color: #e4dfd2;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/***** the News block ******/
.News-container {
    position: relative;
    width: 100vw;
    background-color: #e4dfd2;
    z-index: 1;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Posts */
.news_title {
    margin-top: 6.09375vw;
}

.news-article {
    width: 82vw;
    margin-top: 5.885vw;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 6.875vw;
}

/*** the readmore button*****/
#news_readmore_btn {
    margin-top: 5.901041666vw;
    margin-bottom: 6.770833333vw;
}

/* Milo: start of event part */

.events {
    width: 100vw;
    background-color: #2e4565;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    border-radius: 1.302083333vw;   
    overflow-x: hidden;
    margin-top: -2vw;
}

#event-slider-container-outer {
    transform: translateX(-56.35%);
    min-height: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
#event-slider-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    min-height: 26.15vw;
}
.event-slider-container-transition {
    transition: 0.7s ease-in-out;
}
.event-slider-item {
    min-width: 35.41%;
    max-width: 35.41%;
    flex-shrink: 0;
    z-index: 10;
}
#event-slides {
    margin-top: 5.989583333vw;
    position: relative;
    min-height: 50%;
    width: 100%;
}
#event-icon-prev {
    position: absolute;
    left: 27%;
    top: 50%;
    z-index: 1;
    fill: #efeee4;
    cursor: pointer;
}
#event-icon-next {
    position: absolute;
    left: 72.9%;
    top: 50%;
    transform: translateX(-100%);
    z-index: 1;
    cursor: pointer;
}
#event-data {
    display: none;
}

.event-data-item {
    min-width: 20%;
    width: 40%;
}
.event-container {
    width: 100%;
    min-width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.single-event {
    width: 100%;
    min-height: calc(100vw * 0.2344);
    height: calc(100vw * 0.2344);
    background-color: #efeee4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}
.event-mask {
    position: relative;
    top: calc((100% - 100vw * 0.2344) / 2);
    left: 0;
    width: 100%;
    z-index: 5;
    height: calc(100vw * 0.2344);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-event .single-event {
    height: calc(100vw * 0.2615);
}
.main-event .event-mask {
    top: calc((100% - 100vw * 0.2615) / 2);
    height: calc(100vw * 0.2615);
}
.event-mask.event-to-brighter {
    transition: 0.7s;
    top: calc((100% - 100vw * 0.2615) / 2);
    height: calc(100vw * 0.2615);
}
.main-event .event-mask.event-to-darker {
    transition: 0.7s;
    top: calc((100% - 100vw * 0.2344) / 2);
    height: calc(100vw * 0.2344);
}
.event-mask::after {
    transition: 0.7s;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 60px;
}
.main-event .event-mask::after {
    background-color: rgba(0, 0, 0, 0);
}
.event-mask.event-to-darker::after {
    background-color: rgba(0, 0, 0, 0.2);
}
.event-mask.event-to-brighter::after {
    background-color: rgba(0, 0, 0, 0);
}
.event-indent {
    min-width: 8.7%;
}
.event-title {
    margin-top: 4.427083333vw;
}
.event-title div {
    color: #ffbb00;
    text-align: center;
}
.event-ch-title {
    margin-top: 0.618rem;
    font-size: 2rem;
    line-height: 1.13;
    letter-spacing: 5px;
}
.event-en-title {
    margin-top: 0.618rem;
    font-size: 1.5rem;
    line-height: 1.13;
    letter-spacing: 1.8px;
}
.event-icon-container {
    height: 50px;
    width: 100%;
}
.event-icon-container img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.single-event.event-to-bigger {
    transition: 0.7s;
    height: calc(100vw * 0.2615);
}
.single-event.event-to-smaller {
    transition: 0.7s;
    height: calc(100vw * 0.2344);
}

#event_readmore_btn {
    margin-top: 3.27vw;
    margin-bottom: 3.27vw;
}

/************************************/
/* Jennt: About us Block */
.About-container {
    width: 100vw;
    background-color: #e4dfd2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2vw;
    padding-bottom: 13.8541666vw;
}

.abouttitle {
    position: relative;
    margin-top: 8.09vw;
}

.Aboutus-content-container {
    position: relative;
    width: 100vw;
    margin-top: 6.09vw;
}

.intro_content {
    float: left;
    margin-left: 9vw;
    width: 55.3vw;
    background-color: #e4dfd2;
    border-radius: 60px;
    box-shadow: 25px 25px 65px 0 rgba(255, 111, 0, 0.3);
    font-family: "Noto Sans TC", sans-serif;
    color: #2e4565;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.385416666vw;
}

.videos {
    margin-right: 9.010416666vw;
    float: right;
    margin-top: 8vw;
    width: 23.6vw;
    background-color: #e4dfd2;
    border-radius: 3.125vw;
    box-shadow: 15px 15px 40px 0 rgba(255, 111, 0, 0.3);
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding-bottom: 3.385416666vw;
}

.intro_content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro_content-text-en{
    margin-top: 3vw;
}

.iph_ch{
    font-size: 3.385833333vw;
    font-weight: bold;
    line-height: 0.65;
    letter-spacing: 9.75px;
    text-align: left;
    margin-top: 4.5vw;
}

.iph_en {
    font-size: 1.3025vw;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 1.25px;
    margin-top: 1.2vw;
}

.iph_intro {
    width: 40.6vw;
    font-size: 1.041666666vw;
    font-weight: normal;
    line-height: 2;
    letter-spacing: 3px;
    color: #647386;
    margin-top: 2.3vw;
}

.iph_intro_en{
    width: 40.6vw;
    font-size: 1vw;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05vw;
    color: #647386;
    margin-top: 2.3vw;
}

.icon_aboutus_1{
    width: 6.618rem;
    height: 10.683rem;
    position: absolute;
    left: 15%;
    top: 80.8%;
}

.module {
    display: flex;
    flex-direction: column;
    /*border: solid 2px #374a73;*/
    /*align-items: center;*/
    margin: 13% 16% 0%;
}

.bk_num {
    font-family: "TimesNewRoman";
    font-size: 2..969166666vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.03;
    letter-spacing: normal;
    text-align: left;
    color: #2e4565;
}

.icon_aboutus_2 {
    margin-top: 17%;
}

.video_title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.302084vw;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 3.75px;
    text-align: left;
    color: #2e4565;
    margin-top: 8%;
    margin-bottom: 8%;
}

.video_title-en{
    font-size: 1.1vw;
    line-height: 1.2;
    letter-spacing: 3px;
}

/*define the read-more botton in aboutUs block*/
#aboutUS_intro_btn {
    position: relative;
    margin-top: 5.2083vw;
}

/* the waves decorations */
.deco_waves {
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* let waves have spacing*/
.deco_waves img {
    width: 100vw;
    margin-top: 2%;
}

#up_waves {
    top: 64vw;
}

/*video overlay*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 10;
    /*overflow-y: hidden;
    overflow-x: hidden;*/
    transition: 0.5s ease-in-out;
}

.overlay_content {
    display: flex;
    flex-direction: row;
    width: 72%;
    height: 69%;
    margin: 10% 14% 0%;
}

.closebtn {
    width: 2.78rem;
    height: 5rem;
    margin-top: -1.2%;
    cursor: pointer;
}

.video_content {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 2.6%;
}

.video_content iframe {
    width: 100%;
    height: 100%;
}

.Interview-container {
    position: relative;
    width: 100%;
    height: 216px;
    margin-top: 8vw;
    background-color: #e4dfd2;
    overflow: hidden;
}

.cards {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: none;
}

.interview-slide {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    pointer-events: auto;
}

.interview-slide:hover .interview-picture > img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    width: 10.41vw;
    height: auto;
}

.interview-slide:hover .interview-picture {
    border-radius: 50%;
    border: solid 5px #ffa975;
}

.interview-picture {
    width: 10.41vw;
    height: 10.41vw;
    border-radius: 50%;
    overflow: hidden;
}

.interview-picture > img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 10.41vw;
    height: auto;
}

.interview-text-content {
    width: 20.520833vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1.5vw;
}

.interview-text-content > a {
    position: relative;
    margin-top: 2.5%;
    font-size: 1.3025vw;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: .1953125vw;
    text-align: left;
    color: #2e4565;
    text-decoration: none;
    pointer-events: all;
}

.interview-text-content > span {
    position: relative;
    margin-top: 6.5%;
    font-size: 1.0416666667vw;
    line-height: 1.25;
    letter-spacing: 0.1rem;
    text-align: left;
    color: #647386;
}

.Specialization-container {
    width: 100%;
    background-color: #e4dfd2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

#below_wave {
    position: relative;
}

#Specialization_title {
    margin-top: 3%;
}

#SP_content_container {
    position: relative;
    min-height: 50vh;
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
}

.SP_content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3vw;
    text-decoration: none;
}

.SP_img {
    width: 21.875vw;
    height: 14.114583333vw;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

.SP_img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.SP_img_shadow {
    width: 21.875vw;
    height: 14.114583333vw;
    border-radius: 25px;
    box-shadow: 7px 10px 20px 0 rgba(255, 111, 0, 0.6);
    overflow: hidden;
}

.SP_ch_title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.3025vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-align: center;
    color: #2e4565;
    text-align: center;
    margin-top: 3vw;
}

.SP_en_title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.3025vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.2px;
    text-align: center;
    color: #2e4565;
    text-align: center;
    margin-top: 0.5vw;
}

.SP_title-en_margin{
    margin-top: 1.8vw;
}
/* More resource part */
/* Milo: links開始 */
.Links-container {
    width: 100vw;
    background-color: #2e4565;
    position: relative;
    z-index: 2;
    border-radius: 1.3vw;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2vw;
    padding-bottom: 22.552083333vw;
}

/* Jenny: change start */
.links_title {
    position: relative;
    margin-top: 6.09vw;
}

.links_title span {
    color: #ffbb00;
}

/* Jenny: end of change*/
/*.links-title{
    width: 15.5%;
    position: relative;
    top: 7.625rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.links-title div{
    color:#ffbb00;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.875rem;
    line-height: 1.13;
    letter-spacing: 5px;
    margin-top: 16px;
}
.links-title div:nth-child(3) {
    letter-spacing: 1.8px; 
}*/

.links-content {
    width: 51.25vw;
    position: relative;
    margin-top: 6.4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

.links-flex-col {
    display: flex;
    flex-direction: column;
}

.links-category-item {
    position: relative;
    background-color: #efeee4;
    min-width: 25.104166666vw;
    min-height: 4.479166666vw;
    border-radius: 15px;
    margin-bottom: 1.25rem;
    display: inline-block;
    overflow: hidden;
    transition: 0.6s;
    max-height: 4.479166666vw;
}
.links-category-item.expanded {
    max-height: 30rem;
}
.links-category-item.expanded .links-item-title {
    transform: translate(0%, -50%);
    left: 2.34375vw;
}
.links-item-title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.3025vw;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 3.75px;
    color: #2e4565;
    transition: 0.6s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.6s;
}
.links-icon-more-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.822916666vw;
    font-size: 1.563rem;
}
.links-item {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.04166666667vw;
    line-height: 2;
    letter-spacing: 3px;
    text-align: left;
    color: #2e4565;
    transform: translateX(2.34375vw);
    border-bottom: #707070 solid 1px;
    width: calc(100% - 5.626rem);
    min-width: 81.327800829%;
}
.links-items .links-item:last-child {
    padding-bottom: 30px;
    border-bottom: none;
}
.links-upper-item {
    min-width: 25.104166666vw;
    min-height: 4.479166666vw;
    position: relative;
    cursor: pointer;
}
/* Milo: links結束，css檔案只有改動這一塊 */

/* Jenny: Contact us block start*/
.ContactUs-container {
    width: 100vw;
    height: 52vw;
    background-color: #e4dfd2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2vw;
}

.ContactUs-container-en{
    margin-top: -15vw;
}

.contactUS_title {
    position: relative;
    margin-top: 8.09vw;
}

#administor_profile_block {
    position: relative;
    width: 82.08333vw;  
    margin-top: 6.09vw;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#administor_profile_block .profile:first-child {
    margin-left: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    width: 20.833333333vw;
}

.profile-header {
    width: 20.833333333vw;
    height: 22.135416666vw;
    border-radius: 6%;
    overflow: hidden;
    cursor: pointer;
}

.profile-header img {
    width: 20.833333333vw;
    height: 22.135416666vw;
    border-radius: 6%;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

.profile-header img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.profile_content {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.profile_p1, .profile_p2, .profile_p3 {
    line-height: 1.823333333vw;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    /* Distribute items evenly The first item is flush with the start, the last is flush with the end */
    flex-direction: row;
    color: #2e4565;
    margin-top: 3.5%;
}

.profile_p2{
    margin-top: 10%;
}

.contact_text {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #2e4565;
}

.work_respon{
    font-size: 0.9rem;
    letter-spacing: 2px;
    padding-top: 2%;    
    padding-bottom: 2.5%;  
}

.contact_title, .email, .phone_num, .self_intro{
    font-size: 1.0416vw;
    font-weight: normal;
    letter-spacing: 0.15625vw;
    line-height: 1.2vw;
    text-align: left;
}

.staff_name {
    font-size: 1.3025vw;
    letter-spacing: 3.75px;
}

.overlayinContact {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 2;
    transition: 1s ease-in-out;
}

.overlay_wapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}

.cls_btn {
    /*width: 1.2rem;
    height: 1.2rem;*/
    margin-left: 33%;
    margin-top: 2%;
    cursor: pointer;
}

.overlay_profile_content{
    width: 60vw;
    background-color: #efeee4;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.overlay_title, .overlay_middle, .ovetlay_bottom{
    width: 58vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1.5px rgba(46,69,101,0.2);
}

.profile_text{
    font-size: 0.9375vw;
    letter-spacing: 0.104vw;
    border-bottom: solid 1.5px rgba(46, 69, 101, 0.2);
    z-index: 3;
}

.overlay_title img {
    width: 1.875rem;
    height: 1.688rem;
}

.overlay_middle {
    margin-top: 5%;
    padding-bottom: 2.5%;
    align-items: flex-start;
}

.overlay_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_post_num {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4.5%;
}

.profile_post_num p {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #2e4565;
}

.img_block img {
    width: 21.23rem;
    height: 30rem;
    object-fit: fill;
}

.overlay_self_info{
    width: 35vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.overlay_staff_name {
    width: 100%;
    font-size: 3.3854vw;
    padding-top: 10%;
    padding-bottom: 13%;
    text-align: left;
    border-bottom: solid 1.5px rgba(46,69,101,0.2);
}

.overlay_self_info > .profile_p2, .overlay_self_info > .profile_p3{
    width: 100%;
    justify-content: flex-start;
}
.overlay_self_info > .profile_p2{
    padding-top: 5%;
}

.overlay_self_info > .profile_p3{
    padding-bottom: 8%;
    /*border-bottom: solid 1.5px rgba(46,69,101,0.2);*/
}

.overlay_phone_num, .overlay_mail{
    margin-left: 4%;
}

.ovetlay_bottom {
    border-bottom: none;
    padding-top: 3%;
    padding-bottom: 3%;
}

.self_intro {
    line-height: 2;
    letter-spacing: 3px;
    text-align: left;
    padding-bottom: 8%;
    padding-top: 8%;
}

.overlay_profile_left_pointer, .overlay_profile_right_pointer {
    cursor: pointer;
    z-index: inherit;
}

@media (max-width: 1130px) {
    #event-slider-container-outer {
        transform: translateX(calc(-1000px + 32.6vw));
    }
    .event-slider-item {
        min-width: 400px;
    }
    #event-icon-prev {
        left: calc(45.65vw - 215px);
    }
    #event-icon-next {
        left: calc(54.35vw + 215px);
    }

    .links-category-item,
    .links-upper-item {
        min-width: 241px;
        min-height: 43px;
    }

    .links-content {
        width: 492px;
    }

    .links-item-title {
        font-size: 12.504px;
    }

    .links-item {
        font-size: 10px;
    }
}

@media (max-width: 960px) {
    #event-slider-container {
        min-height: 251px;
    }
    .single-event {
        min-height: 225px;
        height: 225px;
    }
    .event-mask {
        top: calc((100% - 225px) / 2);
        height: 225px;
    }
    .main-event .single-event {
        height: 251px;
    }
    .main-event .event-mask {
        top: calc((100% - 251px) / 2);
        height: 251px;
    }
    .event-mask.event-to-brighter {
        top: calc((100% - 251px) / 2);
        height: 251px;
    }
    .main-event .event-mask.event-to-darker {
        top: calc((100% - 225px) / 2);
        height: 225px;
    }
    .single-event.event-to-bigger {
        transition: 0.7s;
        height: 251px;
    }
    .single-event.event-to-smaller {
        transition: 0.7s;
        height: 225px;
    }
    .links-category-item.expanded .links-item-title {
        left: 22.5px;
    }
    .links-item-title {
        font-size: 12.504px;
    }
    .links-icon-more-item {
        right: 17.5px;
    }
    .links-item {
        font-size: 1.04166666667vw;
        transform: translateX(22.5px);
    }
    .profile_p1, .profile_p2, .profile_p3 {
        line-height: 17.5px;
    }

    .SP_ch_title, .SP_en_title {
        font-size: 12.504px;
    }

    .SP_ch_title {
        margin-top: 25px;
    }

    .interview-text-content > span {
        font-size: 10px;
    }
    .interview-text-content > a {
        font-size: 12.504px;
    }

    .interview-slide:hover .interview-picture > img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        width: 99.936px;
        height: auto;
    }  
    .interview-picture > img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        width: 99.936px;
        height: auto;
    }   
    .interview-picture {
        width: 99.936px;
        height: 99.936px;
        border-radius: 50%;
        overflow: hidden;
    }

    .ch-title {
        margin-top: 4.8px;
    }
    .en-title {
        margin-top: 4.8px;
    }

    .Links-container {
        border-radius: 10px;
    }

    .events {
        border-radius: 10px;
    }

    .images-container {
        margin-top: 16vw;
    }

    .img-slide-btn img, .social_media_links img {
        margin-left: 12.5px;
        width: 15px;
    }
}

@media (max-width: 800px) {
    .SP_content {
        margin: 3vw auto;
    }
    .SP_img {
        width: 60vw;
        height: 38.7142857143vw;
    }
    .SP_img_shadow {
        width: 60vw;
        height: 38.7142857143vw;
    }
    #SP_content_container {
        flex-wrap: wrap;
        padding-bottom: 30px;;
    }
    .interview-text-content {
        width: 197px;
    }

    .images-container {
        margin-top: 18vw;
    }
}

@media (max-width: 640px) {
    .links-content {
        width: 75vw;
    }

    .links-flex-col {
        width: 241px;
        margin-left: auto;
        margin-right: auto;
    }
}
