.links_page {
    padding-top: 18.8020833vw;
    background-color: var(--main-color-blue);
}

.links_title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2.34375vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.344166666vw;
    letter-spacing: .3125vw;
    text-align: center;
    color: #efeee4;
}

.en_links_title {
    font-size: 1.5625vw;
    letter-spacing: .078125vw;
}

.links-content {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.770833vw;
}

.links-flex-col {
    width: 25.104166666vw;
    margin: 0 .7916666vw;
}

.links-category-item {
    position: relative;
    background-color: #efeee4;
    width: 25.104166vw;
    min-height: 4.479166666vw;
    border-radius: 15px;
    margin-bottom: 1.041666vw;
    display: inline-block;
    overflow: hidden;
    transition: .6s;
    user-select: none;
    max-height: 4.479166666vw;
}
.links-category-item.expanded {
    max-height: 30rem;
}
.links-category-item.expanded .links-item-title {
    transform: translate(0%, -50%);
    left: 2.344166vw;
}
.links-item-title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3025vw;
    font-weight: bold;
    line-height: 1.823333333vw;
    letter-spacing: .1953125vw;
    color: var(--main-color-blue);
    transition: .6s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.links-icon-more-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 1.823333333vw;
    color: var(--main-color-blue);
}
.links-item {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.0416vw;
    line-height: 2;
    letter-spacing: 3px;
    text-align: left;
    color: #647386;
    transform: translateX(2.344166vw);
    border-bottom: #707070 solid 1px;
    width: calc(100% - 4.688332vw);
}

.links-items .links-item:last-child {
    padding-bottom: 30px;
    border-bottom: none;
}

.links-upper-item {
    min-height: 4.479166666vw;
    width: 25.104166vw;
    position: relative;
    cursor: pointer; 
}

.dec_dot {
    margin-top: 2.083333333vw;
    margin-left: auto;
    margin-right: auto;
    width: 2.65625vw;
    height: 2.65625vw;
    border-radius: 1.40625vw;
    box-shadow: .104166666vw .104166666vw .3125vw 0 rgba(255, 111, 0, 0.6);
    background-color: #efeee4;
}

.links-block {
    height: 6.770833vw;
}

.links-item a {
    text-decoration: none;
}

@media (max-width:960px) {
    .links_title {
        font-size: 22.5px;
        line-height: 22.5px;
        letter-spacing: 3px;
    }

    .en_links_title {
        font-size: 15px;
        letter-spacing: 0.75px;
    }

    .links-item-title {
        font-size: 14px;
    }

    .links-flex-col {
        width: 241px;
        margin: 0 7.6px;
    }

    .links-category-item {
        width: 241px;
        min-height: 43px;
        max-height: 43px;
        margin-bottom: 10px;
    }

    .links-upper-item {
        width: 241px;
        min-height: 43px;
    }

    .links-item {
        transform: translateX(22.5px);
        width: calc(100% - 45px);
        font-size: 14px;
    }

    .links-category-item.expanded .links-item-title {
        left: 22.5px;
    }

    .dec_dot {
        width: 25.5px;
        height: 25.5px;
        border-radius: 12.75px;
    }
}

@media (max-width:640px) {
    .links-flex-col {
        width: 37.65625vw;
    }

    .links-category-item {
        width: 37.65625vw;
    }

    .links-upper-item {
        width: 37.65625vw;
    }
} 


@media (max-width:480px) {
    .links-item {
        font-size: 18px;
        transform: translateX(8vw);
        width: calc(100% - 16vw);
        margin-bottom: 5px;
        padding-bottom: 3px;
        line-height: 1.9;
    }

    .links-icon-more-item {
        font-size: 8.535vw;
    }

    .links-category-item.expanded .links-item-title {
        left: 0;
        transform: none;
    }

    .links-item-title {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        font-size: 18px;
        line-height: unset;
        letter-spacing: 2.55px;
        /* vertical-align: middle; */
        min-height: 17.333vw;
        display: flex;
        align-items: center;
    }

    .links-upper-item {
        width: 73.333vw;
        min-height: 17.333vw;
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .links-category-item {
        width: 89.333vw;
        min-height: 17.33vw;
        margin-bottom: 20px;
    }

    .links-flex-col {
        width: 89.333vw;
        margin-left: auto;
        margin-right: auto;
    }

    .links-content {
        flex-direction: column;
        animation: none;
        margin-top: 80px;
    }

    .links_title {
        margin-top: 80px;
    }
}