.page_member{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #e4dfd2;
}

.post_block{
    display: grid;
    grid-template-columns: 19.583vw 19.583vw 19.583vw;
    column-gap: 5.208vw;
    row-gap: 5.208vw;	
    margin-top: 5vw;
}

.member_card{
    display: flex;
    flex-direction: column;
}

.member_picture{
    width: 19.583vw;
    height: 12.5vw;
    overflow: hidden;
    border-radius: 1.302vw;
    /*border: solid 2px #2e4565;*/
}

.member_picture img{
    /*width: 376px;
    height: 240px;*/
    width: 19.583vw;
    height: 12.5vw;
}

.name, .title, .en_name, .en_title{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.40625vw; /*25 -> 27*/
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.1953vw;
    text-align: left;
    color: #2e4565;
    text-decoration: none;
}

.name, .title{
    margin-top: 1.5vw;
}

.title{
    font-size: 0.9375vw;
    letter-spacing: 0.140625vw;
    margin-left: 0.2vw;
}

.en_name{
    font-size: 1.5vw;
}

.en_title{
    font-size: 1.1vw;
    letter-spacing: 0.140625vw;
}

.en_name_link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5vw;
    text-decoration: none;
}

.education, .expertise{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583vw; /* 20 -> 22*/
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.15625vw;
    text-align: left;
    color: #647386;
    margin-top: 1vw;
}

.en-education, .en-expertise{
    letter-spacing: 0.12vw;
}

/* new filter bar design */
.select_bar_container{
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 11.458vw;
    border-bottom: solid 0.052vw #2e4565;
}

.cat-list_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.041vw;
}

.cat-list_container > p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.041667vw;
    font-weight: bold;
    line-height: 0.06;
    letter-spacing: 2.7px;
    color: #2e4565;
    margin-right: 2.604vw;
}

.cat-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72vw;
    margin-left: -1.5vw;
}

/*#cat_area{
    width: 32.34375vw;
}

#cat_prof{
    width: 43.07vw;
}*/

.cat-list > li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.5vw;
}

.cat-list_item_dot{
    width: 1vw;
    height: 1vw;
    border: solid 2px #2e4565;
    border-radius: 50%;
}

.cat_active > .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item:hover .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.cat-list_item_name{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.041667vw;
    font-weight: bold;
    /*line-height: 0.06;*/
    letter-spacing: 0.140625vw;
    color: #2e4565;
    margin-left: 1.3vw;
}

@media (max-width: 960px){
    .cat-list_container > p, .cat-list_item_name{
        font-size: 14px;
        letter-spacing: 2px;
    }

    .name, .en_name{
        font-size: 20px;
    }

    .title, .en_title{
        font-size: 14px;
    }

    .education, .expertise{
        font-size: 18px;
        letter-spacing: 2.5px;
    }

    .en-education, .en-expertise{
        letter-spacing: 1px;
    }

    .title{
        margin-left: 4px;
    }
}

@media (max-width: 768px){
    .cat-list_container{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 4vw;
    }
    .cat-list{
        width: 84vw;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 1vw;
    }
    .cat-list > li{
        margin-top: 1vw;
    }

    .post_block{
        grid-template-columns: 24vw 24vw 24vw;
        column-gap: 5vw;
    }

    .member_picture{
        width: 23.5vw;
        height: 15vw;
    }

    .member_picture img{
        width: 23.5vw;
        height: 15vw;
    }
}

@media (max-width: 480px){
    .cat-list_container{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 6.041vw;
    }

    .cat-list{
        width: 84vw;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 2vw;
    }

    .cat-list > li{
        margin-top: 1.5vw;
    }

    .post_block{
        grid-template-columns: 60vw;
        row-gap: 6vw;
    }

    .member_picture{
        width: 55vw;
        height: 30vw;
        border-radius: 3vw;
    }

    .education, .expertise{
        margin-top: 2vw;
    }
    
    .member_picture img{
        width: 55vw;
        height: 30vw;
    }
}