.page_member{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #e4dfd2;
}
/*
.banner{
    position: relative;
    width: 82%;
    height: auto;
    margin-top: 20%;
    margin-left: 9%;
    margin-right: 9%;
}

.page_name{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem; 
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: 6px;
    text-align: left;
    color: #2e4565;
}

#eg{
    font-size: 2rem;
    letter-spacing: 2px;
}

.circle{
    width: 2.65rem;
    height: 2.65rem;
    position: absolute;
    right: 0%;
    top: 23%;
    bottom: 23%;
    border-radius: 1.4rem;
    box-shadow: 2px 2px 6px 0 rgba(255, 111, 0, 0.6);
    background-color: #2e4565;
}*/

.post_block{
    display: grid;
    grid-template-columns: 19.583vw 19.583vw 19.583vw;
    column-gap: 5.208vw;
    row-gap: 5.208vw;	
    margin-top: 5vw;
}

.member_card{
    display: flex;
    flex-direction: column;
}

.member_picture{
    width: 19.583vw;
    height: 12.5vw;
    overflow: hidden;
    border-radius: 1.302vw;
    /*border: solid 2px #2e4565;*/
}

.name, .title{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.2504rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 3.75px;
    text-align: left;
    color: #2e4565;
    text-decoration: none;
    margin-top: 1.5vw;
}

.title{
    font-size: 1rem;
    letter-spacing: 2.7px;
    line-height: 0;
    margin-left: 0.2vw;
}

.education, .expertise{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 3px;
    text-align: left;
    color: #647386;
    margin-top: 1vw;
}


/* new filter bar design */
.select_bar_container{
    width: 82vw;
    display: block;
    position: relative;
    margin-top: 11.458vw;
}

.cat-list_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.041vw;
}

.cat-list_container > p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9375vw;
    font-weight: bold;
    line-height: 0.06;
    letter-spacing: 2.7px;
    color: #2e4565;
    margin-right: 2.604vw;
}

.cat-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72vw;
    margin-left: -1.5vw;
}

/*#cat_area{
    width: 32.34375vw;
}

#cat_prof{
    width: 43.07vw;
}*/

.cat-list > li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.5vw;
}

.cat-list_item_dot{
    width: 1vw;
    height: 1vw;
    border: solid 2px #2e4565;
    border-radius: 50%;
}

.cat_active > .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item:hover .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.cat-list_item_name{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9375vw;
    font-weight: bold;
    line-height: 0.06;
    letter-spacing: 2.7px;
    color: #2e4565;
    margin-left: 1.3vw;
}