.page_News{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #e4dfd2;
}

.banner{
    position: relative;
    width: 82%;
    height: auto;
    margin-top: 20%;
    margin-left: 9%;
    margin-right: 9%;
}

.page_name{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem; /*2.5rem*/
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: 6px;
    text-align: left;
    color: #2e4565;
}

#eg{
    font-size: 2rem;
    letter-spacing: 2px;
}

.circle{
    width: 2.65rem;
    height: 2.65rem;
    position: absolute;
    right: 0%;
    top: 23%;
    bottom: 23%;
    border-radius: 1.4rem;
    box-shadow: 2px 2px 6px 0 rgba(255, 111, 0, 0.6);
    background-color: #2e4565;
}

.class_selector{
    position: relative;
    width: 82%;
    height: 5vh;
    margin-top: 15%;
    margin-left: 9%;
    margin-right: 9%;
    padding-bottom: 0.8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e4dfd2;
    border-bottom: solid 2px #2e4565;
}

/***********/
.select_container {
    display: block;
    position: relative;
    padding-left: 5%;
    margin-left: 3.5%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: left;
    color: #2e4565;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.select_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    border: solid 2px #2e4565;
    border-radius: 50%;
}

/*.checkmark-hover{
    position: absolute;
    top: 0.28vw;
    left: 0.275vw;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #2e4565;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}*/


#selection_all{
    margin-left: 0;
}

/* On mouse-over, add a grey background color */
.select_container:hover input ~ .checkmark {
    background-color: #2e4565;
}

/* When the radio button is checked, add a blue background */
.select_container input:checked ~ .checkmark {
    background-color: #2e4565;
}

/*.select_container:hover input ~ .checkmark-hover {
    opacity: 1;
}*/

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.select_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.select_container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.sdg-dropdown{
    width: 9.47vw;
    height: 2.1875vw;
    position: absolute;
    right: 0;
    border: solid 2px #2e4565;
    background-color: #e4dfd2;
    color: #2e4565;
    font-size: 0.84375rem;
    font-weight: bold;
    letter-spacing: 0.04vw;
    padding-left: 1vw;
}

.sdg-dropdown option{
    color: #2e4565;
    font-size: 0.84375rem;
    font-family: 'Noto Sans TC', sans-serif;
    border: solid 2px #2e4565;
    background-color: #e4dfd2;
    padding: 0.5vw;
    font-weight: bold;
    letter-spacing: 0.04vw;
    padding-left: 1vw;
}



/*the News_block */
.news_block{
    position: relative;
    width: 100vw;
    margin-top: 5%;
    height: auto;
    background-color: #e4dfd2;
}

.news-article
{
    width: 100%;
    min-height: auto;
    display: inline-block;
    background-color: #e4dfd2;
}


/*************************/
.pagination{
    position: relative;
    width: 82vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 11.9vw;
    margin-top: 11.9vw;
    margin-bottom: 8.69vw;
}

.page-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-numbers > li{
    margin-left: 2vw;
    color: #2e4565;
    font-size: 0.9375rem;
}

.page-numbers > li > a{
    text-decoration: none;
    color: #2e4565;
    border-radius: 50%;
    padding: 0.6rem 0.8rem 0.6rem;
    transition: 0.3s;
}

.page-numbers .current{
    color: #e4dfd2;
    background-color: #2e4565;
    border-radius: 50%;
    padding: 0.6rem 0.8rem 0.6rem;
}

.pagination .next{
    position: absolute;
    width: 1.55rem;
    height: 1.55rem;
    font-size: 0;
    background-image: url("../images/page_news/next_page.svg");
    background-repeat:no-repeat;
    background-size: contain;
    border-radius:0;
    margin-left: 32rem;
    margin-top: -1.5rem;
}

.pagination .prev{
    position: absolute;
    width: 1.55rem;
    height: 1.55rem;
    font-size: 0;
    background-image: url("../images/page_news/prev_page.svg");
    background-repeat:no-repeat;
    background-size: contain;
    border-radius:0;
    margin-left: -36rem;
    margin-top: -1.5rem;
    /*right: 35rem;*/
}


.page-numbers > li:hover{
    background-color: #2e4565;
    color: #e4dfd2;
    border-radius: 50%;
}

.page-numbers > li > a:hover{
    color: #e4dfd2;
    text-decoration: none;
    padding: 0.6rem 0.8rem 0.6rem;
}