.page_News{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #e4dfd2;
}

/*the News_block */
.post_block{
    position: relative;
    width: 100vw;
    height: auto;
}

.news-article
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.select_bar_container{
    width: 82vw;
    display: block;
    position: relative;
    margin-top: 11.458vw;
}

.cat-list{
    width: 33.28vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*margin-left: -5vw;*/
}

.cat-list > li{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*margin-left: 4.16vw;*/
}

.cat-list_item_dot{
    width: 1vw;
    height: 1vw;
    border: solid 2px #2e4565;
    border-radius: 50%;
}

.cat_active > .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item:hover .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-decoration: none;
}

.cat-list_item_name{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9375vw;
    font-weight: bold;
    line-height: 0.06;
    letter-spacing: 2.7px;
    color: #2e4565;
    margin-left: 1.3vw;
}

/*************************/
.pagination{
    position: relative;
    width: 82vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 11.9vw;
    margin-top: 11.9vw;
    margin-bottom: 8.69vw;
}

.page-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-numbers > li{
    margin-left: 2vw;
    color: #2e4565;
    font-size: 0.9375rem;
}

.page-numbers > li > a{
    text-decoration: none;
    color: #2e4565;
    border-radius: 50%;
    padding: 0.6rem 0.8rem 0.6rem;
    transition: 0.3s;
}

.page-numbers .current{
    color: #e4dfd2;
    background-color: #2e4565;
    border-radius: 50%;
    padding: 0.6rem 0.8rem 0.6rem;
}

.pagination .next{
    position: absolute;
    width: 1.55rem;
    height: 1.55rem;
    font-size: 0;
    background-image: url("../images/page_news/next_page.svg");
    background-repeat:no-repeat;
    background-size: contain;
    border-radius:0;
    margin-left: 32rem;
    margin-top: -1.5rem;
}

.pagination .prev{
    position: absolute;
    width: 1.55rem;
    height: 1.55rem;
    font-size: 0;
    background-image: url("../images/page_news/prev_page.svg");
    background-repeat:no-repeat;
    background-size: contain;
    border-radius:0;
    margin-left: -36rem;
    margin-top: -1.5rem;
    /*right: 35rem;*/
}


.page-numbers > li:hover{
    background-color: #2e4565;
    color: #e4dfd2;
    border-radius: 50%;
}

.page-numbers > li > a:hover{
    color: #e4dfd2;
    text-decoration: none;
    padding: 0.6rem 0.8rem 0.6rem;
}

@media (max-width: 960px) {
    .cat-list_item_name {
        font-size: 9px;
        margin-left: 12.48px;
    }
}