.pro_page {
    max-width: 100vw;
    width: 100vw;
    background-color: #e4dfd2;
    padding-top: 18.802vw;
}

.upper_instruction {
    display: flex;
    justify-content: space-between;
}

#title {
    width: 20.8854vw;
    margin-left: 8.9583vw;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.5625vw;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.078125vw;
    text-align: left;
    color: #2e4565;
}

#ch_title {
    font-size: 2.0833333vw;
    letter-spacing: 0.3125vw;
}

#instruction {
    width: 54.84375vw;
    margin-right: 8.9583vw;
}

#instru_img {
    border-radius: 50px;
    max-width: 100%;
    max-height: 100%;
}

.instru_img_container {
    width: 54.84375vw;
}

#instru_content {
    margin-top: 3.125vw;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.14583333vw;
    line-height: 1.82;
    letter-spacing: 3.3px;
    text-align: left;
    color: #2e4565;
}

#instru_content .img_container {
    width: 31.770833vw;
    margin-left: auto;
    margin-right: auto;
}

#instru_content .img_container img {
    height: auto;
    width: 100%;
}

.black_circle {
    position: absolute;
    width: 3.28125vw;
    height: auto;
    margin-left: 8.9583vw;
    margin-top: 13.073vw;
}

#divider {
    margin: 5.2083vw auto 0 auto;
    width: 82.0833vw;
    height: 1px;
    background-color: #2e4565;
    font-family: "Noto Sans TC", sans-serif;
}

#divider_components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82.0833vw;
    margin: 1.0677vw auto 0 auto;
    align-items: flex-start;
}

.small_black_circle {
    width: 0.989583vw;
    height: 0.989583vw;
    background-color: #2e4565;
    border-radius: 0.989583vw;
}

.down_arrow {
    width: .833vw;
    height: .417vw;
}

.down_arrow img {
    width: .833vw;
    height: auto;
}

.section_indicator {
    font-family: "Noto Sans TC", sans-serif;
    font-size: .9375vw;
    font-weight: bold;
    letter-spacing: 2.7px;
    text-align: center;
    color: #2e4565;
}

.pro_buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3.515625vw auto 0 auto;
    width: 69.1667vw;
}

.pro_btn {
    cursor: pointer;
    width: 8.75vw;
    height: 3.125vw;
    border: solid 1.5px #2e4565;
    border-radius: 2.083333vw;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.0416666vw;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: 3px;
    text-align: left;
    color: #2e4565;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro_btn.checked {
    transition: all 0s;
    background: #2e4565;
    color: #efeee4;
}

.animation1_btn {
    color: #2e4565;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    background: linear-gradient(to top, #2e4565 50%, #e4dfd2 50%);
    background-size: 100% 250%;
    background-position: left 0%;
    transition: all 0.6s ease;
}

.animation1_btn:hover {
    background-position: 0% 90%;
    color: #efeee4;
}

/* changing content part*/

.ls_segment {
    margin: 5.2083vw auto 0 auto;
    width: 51.04166vw;
}

.std_clss {
    width: 35.8854166vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.std_cls {
    background-color: #efeee4;
    box-shadow: 1px 1px 8px 0 rgba(255, 111, 0, 0.3);
    width: 12.39583vw;
    height: 7.239583vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.302083vw;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2.083333vw;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 0.3125vw;
    color: #2e4565;
}

.bubbles {
    margin: 15px auto 15px auto;
    width: calc(23.489583vw + 112px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bubbles img {
    width: 56px;
    height: auto;
}

.column_2_ls {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 50.885416vw;
}

.ls_logo {
    position: absolute;
    background-color: #efeee4;
    box-shadow: 5px 3px 10px 0 rgba(255, 111, 0, 0.23);
    width: 6.822916vw;
    height: 6.822916vw;
    border-radius: 6.822916vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.5625vw;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 3.75px;
    color: #2e4565;
    transform: translate(-50%, -50%);
}

.ls_content_container {
    box-shadow: 3px 3px 15px 0 rgba(255, 111, 0, 0.3);
    background-color: #efeee4;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.column_2_ls .ls_content_container {
    padding: 2.864583vw 0;
}

.column_2_ls .ls_content {
    min-width: 24.21875vw;
}

.ls_content {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.041666vw;
    font-weight: 500;
    line-height: 2.083333vw;
    letter-spacing: 0.15625vw;
    text-align: left;
    color: #2e4565;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.column_1_ls {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: flex-start;
    width: 51.04166vw;
    margin-top: 96px;
}

.column_1_ls .ls_content_container {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 15px 0 rgba(255, 111, 0, 0.3);
    background-color: #efeee4;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

#law_required_ls {
    margin-top: 6.97916vw;
    align-items: flex-start;
}

#law_required_ls .ls_content_container {
    padding: 0;
}

.ls_notes {
    border-top: #e4dfd2 solid 3px;
    border-bottom: #e4dfd2 solid 3px;
    object-fit: contain;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.04166vw;
    line-height: 2;
    letter-spacing: 3px;
    text-align: left;
    color: #2e4565;
    width: 64.73118%;
    margin-top: 2.005208vw
}

.ls_lr_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 36vw;
    margin-bottom: 50px;
}

.ls_title {
    margin-top: 2.604166vw;
    margin-bottom: 2.08333vw;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.406666vw;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 5.4px;
    text-align: center;
    color: #ffa975;
}

.ls_lr_content .ls_content {
    flex: 1;
}

.ls_lr_content.bios_component {
    margin-bottom: 41.5px;
}

.ls_content.align_right {
    text-align: right;
}

.ls_hr {
    width: 42.5vw;
    height: 3px;
    background-color: #e4dfd2;
}

.ls_instru {
    width: 40.46875vw;
    margin: 60px auto 0 auto;
}

.ls_remark {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.041666vw;
    line-height: 1.75;
    letter-spacing: 1px;
    text-align: left;
    color: #2e4565;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ls_hr.btm_margined {
    margin-bottom: 50px;
}

.ls_notes.btm_margined {
    margin-bottom: 50px;
}

.ls_content.btm_padding {
    padding-bottom: 50px;
}

.info_img_container {
    width: 28px;
    height: 28px;
}

.info_img_container img {
    width: 100%;
    height: auto;
    background: transparent;
}

.ls_instru_text {
    margin-top: 30px;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.041666vw;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 3px;
    text-align: left;
    color: #2e4565;
}

.ls_instru_text a {
    text-decoration: none;
    color: #4f5ab8;
}

.ls_sub_title {
    width: 16.35416vw;
    min-height: 2.447916vw;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e4dfd2;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 10px;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    margin-top: 1.5vw;
}

@keyframes changing-animate {
    from {
        transform: scale(0);
        opacity: 0.4;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.changing_animation {
    animation: changing-animate 0.5s linear;
}

#changing_content {
    transition: all 0.7s;
}

.tgh_segment {
    width: 69.1666vw;
    margin-top: 5.677083vw;
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.145833333vw;
    line-height: 1.82;
    letter-spacing: 0.229166666vw;
    text-align: left;
    color: #2e4565;
}

.tgh_title {
    font-size: 1.406666vw;
    font-weight: bold;
    letter-spacing: 0.2109375vw;
}

.margin_top {
    margin-top: 5.208333vw;
}

.tgh_segment .img_container {
    margin-top: 4.166666666vw;
    height: 31.7708333vw;
    width: 31.5625vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #e4dfd2;
}

.tgh_segment .img_container img {
    width: 100%;
    height: auto;
}

.layerd {
    position: relative;
}
.layerd::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: attr(data-before);
}



@media (max-width: 960px) {
    .down_arrow {
        width: 8px;
    }
    
    .down_arrow img {
        width: 8px;
        height: auto;
    }

    .black_circle {
        width: 31.5px;
        margin-top: 125.5px;
    }

    .ls_instru {
        width: 388.5px;
    }

    #ch_title {
        font-size: 20px;
        letter-spacing: 3px;
    }

    #instru_content {
        margin-top: 30px;
        font-size: 12px;
    }

    .small_black_circle {
        width: 9.5px;
        height: 9.5px;
        border-radius: 9.5px;
    }

    .section_indicator {
        font-size: 9px;
    }

    .pro_btn {
        width: 84px;
        height: 30px;
        border-radius: 20px;
        font-size: 10px;
    }

    #title {
        font-size: 15px;
        letter-spacing: 0.75px;
    }

    #divider {
        margin: 50px auto 0 auto;
    }

    .std_cls {
        width: 119px;
        height: 69.5px;
        border-radius: 12.5px;
        font-size: 20px;
        letter-spacing: 3px;
    }

    .std_clss {
        width: 345px;
    }

    .ls_segment {
        margin: 50px auto 0 auto;
        width: 490px;
    }

    .bubbles {
        margin: 15px auto 15px auto;
        width: 337.5px;
    }

    .column_2_ls {
        width: 488.5px;
    }

    .ls_logo {
        width: 65.5px;
        height: 65.5px;
        border-radius: 65.5px;
        font-size: 15px;
    }

    .column_2_ls .ls_content_container {
        padding: 27.5px 0;
    }

    .column_1_ls {
        width: 490px;
    }

    .ls_title {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 13.504px;
    }

    .ls_lr_content {
        width: 345.6px;
    }

    .ls_hr {
        width: 408px;
    }

    .ls_content {
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 1.5px;
    }

    .ls_sub_title {
        width: 158.635352px;
        min-height: 23.5px;
    }

    .column_2_ls .ls_content {
        min-width: 232.5px;
    }

    .ls_instru_text {
        font-size: 10px;
    }
}

.data.invisible {
    display: none;
}

.subclass{
    text-align: center;
}

.tgh_passage p, #instru_content p{
    margin-top: 1.8vw;
}

.staff_block{
    width: 69vw;
    margin: 5vw 15vw;
    display: grid;
    grid-template-columns: 19.583vw 19.583vw 19.583vw;
    column-gap: 5.208vw;
    row-gap: 5.208vw;	
}

.electives{
    width: 24.21vw;
}

.electives > p{
    width: 15.5vw;
}

.tgh_group{
    margin-top: 5vw;
}

#division_circle {
    position: absolute;
}

.sphn {
    display: none;
}

.non-sphn {
    display: block;
}

@media (max-width: 600px) {
    .ls_segment {
        width: 81.6666vw;
    }

    .std_clss {
        width: 57.5vw;
    }

    .bubbles {
        width: 56.25vw;
    }

    .column_2_ls {
        width: 81.41666vw;
    }

    .ls_logo {
        width: 10.91666vw;
        height: 10.91666vw;
        border-radius: 10.91666vw;
        font-size: 2.5vw;
    }

    .column_2_ls .ls_content {
        min-width: 38.75vw;
    }

    .column_1_ls {
        width: 81.6666vw;
    }

    .ls_lr_content {
        width: 57.6vw;
    }

    .ls_sub_title {
        width: 26.43922vw;
    }
}

@media (max-width:480px) {
    .pro_page {
        padding-top: 155px;
    }

    .upper_instruction {
        flex-direction: column;
    }

    #division_circle {
        position: relative;
    }

    .black_circle {
        position: relative;
        margin-top: 40px;
        margin-left: 5.2vw;
        width: 9.333vw;
    }

    #ch_title {
        font-size: 5.069vw;
    }

    #title {
        font-size: 3.733vw;
        margin-left: 5.333vw;
        width: unset;
    }

    #instruction {
        width: 100%;
        padding-left: 5.333vw;
        padding-right: 5.333vw;
        box-sizing: border-box;
    }

    .instru_img_container {
        width: 100%;
        margin-top: 40px;
    }

    #instru_img {
        border-radius: 15px;
    }

    #instru_content {
        margin-top: 40px;
        font-size: 4.535vw;
    }

    #divider {
        width: 89.333vw;
    }

    #divider_components {
        margin-top: 20px;
    }

    .small_black_circle {
        width: 4vw;
        height: 4vw;
        border-radius: 4vw;
    }

    .down_arrow {
        width: 3.2vw;
        height: 1.6vw;
    }

    .down_arrow img {
        width: 3.2vw;
        height: auto;
    }

    .section_indicator {
        font-size: 3.733vw;
    }

    .pro_buttons {
        margin-top: 60px;
        width: 80vw;
    }

    .pro_btn {
        width: 22.4vw;
        height: 7.408vw;
        font-size: 3.733vw;
    }

    .sphn {
        display: block;
    }

    .non-sphn {
        display: none;
    }

    .std_clss {
        justify-content: center;
    }

    .bubbles {
        justify-content: center;
    }

    .column_2_ls {
        justify-content: center;
    }

    .std_cls {
        width: 34.933vw;
        height: 18.133vw;
        font-size: 5.0688vw;
    }

    .bubbles img {
        width: 8vw;
    }

    .ls_content {
        font-size: 3.733vw;
        line-height: 6.6688vw;
        text-align: center;
    }

    .column_2_ls .ls_content_container {
        padding: 9.333vw 9.066vw;
    }

    .ls_logo {
        width: 20.8vw;
        height: 20.8vw;
        border-radius: 20.8vw;
        font-size: 4.535vw;
        left: 0;
        top: 0;
        z-index: 5;
    }

    .ls_content_container {
        position: relative;
    }

    .column_2_ls {
        margin-bottom: 40px;
    }

    .column_1_ls {
        margin-top: 79px;
        position: relative;
        width: 72.8vw;
    }
    
    .ls_title {
        font-size: 4.8vw;
        margin-bottom: 0;
    }

    .ls_hr {
        width: 75.1%;
    }

    .ls_sub_title {
        width: 100%;
        padding-top: 9px;
        padding-bottom: 9px;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .ls_lr_content {
        flex-direction: column;
        width: 75.1%;
        align-items: center;
    }

    .ls_content {
        width: 100%;
    }

    .elective_class1 {
        margin-top: 25px;
    }

    .ls_instru {
        width: 72.8vw;
        margin: 60px auto 0 auto;
    }

    .ls_instru_text {
        width: 72.8vw;
        font-size: 3.733vw;
    }

    .staff_block {
        display: flex;
        flex-direction: column;
        margin: 60px auto;
        width: 89.333vw;
        row-gap: 40px;
    }

    .tgh_segment {
        width: 89.333vw;
        margin-top: 60px;
    }

    .tgh_title {
        font-size: 4.535vw;
    }

    .tgh_passage {
        font-size: 3.733vw;
    }

    .tgh_passage p, #instru_content p {
        margin-top: 30px;
    }

    .tgh_group {
        margin-top: 60px;
    }

    .ls_title {
        width: 72.8%;
    }

    .ls_remark {
        width: 72.8%;
    }

    .column_2_ls {
        flex-direction: column;
    }
}

/* @media (max-width: 480px){

    .pro_page{
        padding-top: 13.802vw;
    }

    .black_circle{
        width: 5vw;
        height: 5vw;
    }

    .upper_instruction{
        width: 82vw;
        margin: 0 9vw;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10vw;
    }

    #title{
        width: auto;
        margin-left: 0;
    }

    .instru_img_container{
        width: auto;
        margin-top: 8vw;
    }

    #instruction{
        width: auto;
        margin: 6vw 0 0;
    }

    .black_circle1{
        margin: 13.03125vw 0 0 0.9583vw;
    }

    .black_circle2{
        margin: 16.75vw 0 0 1.51875vw;
    }

    #instru_img{
        border-radius: 25px;
    }

    #ch_title{
        font-size: 5vw;
    }

    #title{
        font-size: 3vw;
    }

    #instru_content{
        font-size: 3.5vw;
    }

    .tgh_passage p, #instru_content p{
        margin-top: 6.5vw;
    }

    .pro_btn{
        width: 18.75vw;
        height: 6.125vw;
        font-size: 3vw;
    }

    .staff_block{
        width: 50vw;
        grid-template-columns: 50vw;
        margin: 8vw 25vw;
        column-gap: 0;
        row-gap: 6vw;
    }

    .member_picture img{
        width: auto;
        height: auto;
    }

    .column_2_ls .ls_content_container{
        padding: 3.864583vw 5vw;
        margin-left: 2vw;
    }

    .ls_content, ls_content p{
        line-height: 5vw;
    }

    .column_2_ls{
        margin-left: -11vw;
    }

    .column_1_ls{
        width: 73vw;
        margin-top: 10vw;
        margin-left: -11vw;
    }

    .ls_lr_content{
        width: auto;
    }

    .ls_sub_title{
        width: 25vw;
        height: 12vw;
        margin-top: 5vw;
        border-radius: 13px;
    }

    .elective_class1{
        margin: 5vw 3vw 0;
    }

    .ls_instru{
        width: 73vw;
        margin-left: -11vw;
    }

    .ls_remark{
        margin: 5vw 3vw;
    }

    .electives{
        width: 30vw;
        padding: 5vw 3vw;
    }

    .electives > p{
        width: auto;
    }

    .bio_circle1{
        margin: 25.03125vw 0 0 0.9583vw;
    }

    .bio_circle2{
        margin: 28.75vw 0 0 1.51875vw;
    }
}
 */
