@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
#btn-papers{
    color: #efeee4;
    background-color: #2e4565;
}

.student_paper{
    width: 82vw;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 6.25vw;
    margin-bottom: 7.864vw;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

/* selection bar*/
.select_bar_container{
    width: 82vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cat-list_container{
    width: 82vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.041vw;
}

.cat-list_container > p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: min(max(18px,0.9375vw),18px);
    font-weight: bold;
    line-height: 0.06;
    letter-spacing: 2.7px;
    color: #2e4565;
}

.cat-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cat-list > li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.97916vw;
}

.cat-list_item_dot{
    width: 1vw;
    height: 1vw;
    border: solid 2px #2e4565;
    border-radius: 50%;
}

.cat_active > .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item:hover .cat-list_item_dot{
    background-color: #2e4565;
}

.cat-list_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.cat-list_item_name{
    font-family: 'Noto Sans TC', sans-serif;
    /*font-size: 0.9375vw;*/
    font-weight: bold;
    line-height: 0.06;
    letter-spacing: 2.7px;
    color: #2e4565;
    margin-left: 1.3vw;
}

/* keyword search bar */
.request_form{
    width: 82vw;
    height: 3.125vw;
    margin-top: 3.125vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 1.5px #b5bbbe;
    border-radius: 1.5625vw;
}

#keyword{
    width: 70vw;
    border: 0px;
    background-color: transparent;
    margin-left: -2.5vw;
}

input::focus{
    outline: none;
}

input[type=text]{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: min(max(18px,0.9375vw),18px);
    font-weight: 500;
    letter-spacing: 2.7px;
    text-align: left;
    color: #647386;
}

#search_svg{ /*the svg image*/
    width: 1.71875vw;
    height: 1.71875vw;
    margin-left: 1.5625vw;
}
#search_btn{
    cursor: pointer;
    background-color: transparent;
    border: 0px;
}

#search_btn > img{
    width: 2.03125vw;
    height: 2.03125vw;
    margin-right: 1.5625vw;
}

#search_hint{
    width: 82vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search_hint > p{
    width: 40vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 3.3854vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.5078125vw;
    text-align: left;
    color: #b5bbbe;
    margin-top: 4.167vw;
}

.item_titles{
    width: 82vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2e4565;
    border-bottom: solid 2px #647386;
    margin-top: 3.125vw;
    padding-bottom: 2.084vw;
}

.name_col{
    margin-left: 7.8125vw;
}

/* block of papaers*/
.block_papers{
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row_paper{
    width: 82vw;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 2px #647386;
    padding-top: 3.021vw;
    padding-bottom: 3.021vw;
}

.row_paper > span{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: max(22px, 1.14583vw);
    font-weight: 500;
    letter-spacing: 0.05729vw;
    text-align: left;
    color: #2e4565;
    line-height: 1.59;
    overflow-wrap: anywhere;
}

span.year{
    width: 4.5vw;   
}

span.name{
    width: 8vw;
    margin-left: 6vw;
}

span.degree{
    width: 10vw;
    margin-left: 6.3vw;
}

span.advisor{
    width: 15vw;
    margin-left: 5vw;
}

span.paper{
    width: 40vw;
    margin-left: 8.5vw;
    letter-spacing: 0.171875vw;
}

@media (max-width: 960px) {
    .cat-list_container > p {
        font-size: 9px;
    }

    input[type=text] {
        font-size: 9px;
    }

    #search_hint > p {
        width: 384px;
        font-size: 32.5px;
        letter-spacing: 4.875px;
        margin-top: 40px;
    }

    .cat-list_item_name {
        font-size: 10px;
    }
}

@media (max-width: 768px){
    span.year{
        width: 6vw;
    }

    span.name{
        width: 7vw;
    }

    span.degree{
        width: 10vw;
        margin-left: 6.3vw;
    }

    span.advisor{
        width: 6vw;
    }
}

@media (max-width: 480px){
    .cat-list_container{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 6.041vw;
    }

    .cat-list{
        width: 84vw;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 2vw;
    }

    .cat-list > li{
        margin-top: 2.5vw;
    }

    .request_form{
        height: 6.5vw;
        border-radius: 3.5vw;
    }

    #keyword{
        margin-left: 1.5vw;
    }
    
    #search_btn > img{
        width: 5vw;
        height: 5vw;
        margin-right: 1.5vw;
    }

    #search_svg {
        width: 4vw;
        height: 4vw;
        margin-left: 2vw;
    }

    span.year{
        width: 14vw;
    }
    span.name{
        width: 18vw;
        margin-left: 4vw;
    }
    span.degree{
        width: 14vw;
        margin-left: 5vw;
    }
    span.advisor{
        width: 16vw;
        margin-left: 5vw;
    }
    span.paper{
        margin-left: 4vw;
    }
}