.page_Student{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--main-bg-color);
}

.student_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16.97vw;
}

.student_banner > .circle{
    position: relative;
    left: 0;
    margin-top: 2.5%;
    right: 0;
    bottom: 0;
    width: 2.65625vw;
    height: 2.65625vw;
    border-radius: 1.4rem;
    box-shadow: 2px 2px 6px 0 rgba(255, 111, 0, 0.6);
    background-color: var(--main-color-blue);
}

.subpage_buttons{
    width: 82vw;
    margin-top: 5vw;
    margin-left: 9vw;
    margin-right: 9vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.subpage_btn{
    width: 8.75vw;
    height: 3.125vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5625vw;
    border: solid 1.5px var(--main-color-blue);
    color: var(--main-color-blue);
    text-decoration: none;
    letter-spacing: 0.15vw;
    font-weight: bold;
}

.animation1_btn {
    color: var(--main-color-blue);
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    background: linear-gradient(to top, var(--main-color-blue) 50%,  50%);
    background-size: 100% 250%;
    background-position: left 0%;
    transition: all 0.6s ease;
}

.animation1_btn:hover {
    background-position: 0% 90%;
    color: #efeee4;
}


._font18{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9375vw;
    font-weight: bold;
    letter-spacing: 0.145vw;
    text-align: left;
}

._font20{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.041667vw;
    font-weight: 500;
    letter-spacing: 0.140625vw;
    text-align: left;
}

._font22{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.14583vw;
}

._font30{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5625vw;
}

._font40{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 2.083vw;
    line-height: 0.88;
    letter-spacing: 6px;
    text-align: left;
    color: var(--main-color-blue);
}

._font60{
    font-size: 3.385833333vw;
}

.font25{
    font-size: 1.302083333vw;
}

._font27{
    font-size: 1.40625vw;
}


@media (max-width: 960px) {
    ._font18{
        font-size: 10px;
    }
    
    ._font20{
        font-size: 13px;
        letter-spacing: 0.5vw;
    }
    
    ._font22{
        font-size: 15px;
    }
    
    ._font30{
        font-size: 15px;
    }
    
    ._font40{
        font-size: 25px;
    }

    .subpage_btn {
        width: 127px;
        height: 42px;
        border-radius: 21px;
    }
}

@media (max-width: 768px){

    .subpage_btn{
        margin-left: 3px;
    }
}

@media (max-width: 480px){
    .student_banner{
        margin-top: 35vw;
    }

    .subpage_buttons{
        flex-wrap: wrap;
    }

    .subpage_btn{
        /*width: 33.8666vw;
        height: 11.2vw;
        border-radius: 5.6vw;*/
        letter-spacing: 3px;
    }

    .subpage_btn:nth-child(2){
        margin-bottom: 3vw;
    }
    .subpage_btn:first-child{
        margin-bottom: 3vw;
    }
}
